<% include ../header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>

    <section class="content-header" ng-controller="aboutController">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li>About CourseMapper</li>
        </ol>
    </section>

    <div class="content-wrapper">
        <section class="content">
            <div class="box">

                <div class="box-header">
                    <h3>About CourseMapper</h3>
                </div>
                <div class="box-body">
                    <p>
                        CourseMapper is a mind map-based collaborative course annotation and analytics platform that
                        fosters collaboration and interaction around pdf/video learning materials, supported by visual
                        learning analytics.
                    </p>
                    <br>
                    <p>
                        The CourseMapper project is supervised by <strong> Dr. Mohamed Amine Chatti</strong></p>
                </div>
            </div>
            <div class="box-header">
                <h3>Features/Team </h3>
            </div>
            <div class="box">
                <div class="box-header">
                    <h4>Overall UX, Widget System, REST API Implementation and Course Map Tool</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <img src="/img/coursemap.png" style="width: 100%">
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            Implemented by R. Laksono. <br><br>

                            Course Map Tool allows course participants to collaborate on creating or modifying course
                            structures.
                            The course structures are visualised as mind map. In it, participants can add course
                            materials such as PDF, Videos and Links.
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-header"><h4>PDF Reader and Annotation Tool</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <img src="/img/pdf.png" style="width:100%">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            Implemented by J. Klöckner and I. Dimitrialis.<br>

                        </div>
                    </div>


                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <h4>Video Viewer and Annotation tools</h4></div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6"><img src="/img/video.png" style="width:100%">
                        </div>
                        <div class="col-xs-12 col-sm-6">Implemented by M. Momchil.<br>

                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header"><h4>Analytics Widgets on Courses, Videos and PDFs</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6"> Implemented by Z. Sofyan.<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header"><h4>Technologies</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                <li>NodeJS, ExpressJS, PassportJS, Socket.io</li>
                                <li>MongoDB, Mongoose</li>
                                <li>AdminLTE, Bootstrap framework, jQuery, jQueryUI</li>
                                <li>GridStack, JSPlumb, QuillJS</li>
                                <li>Angular and many others</li>
                                <li>PDF.js</li>
                                <li>Videogular</li>
                                <li>FootprintJS</li>
                                <li>ChartJS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div><!-- ./wrapper -->
<% include ../jsfooter %>
<% include ../footer %>