<% include ../header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>

    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li>About CourseMapper</li>
        </ol>
    </section>

    <div class="content-wrapper">
        <section class="content">
            <h3> About CourseMapper</h3>
            <p>
                CourseMapper is a collaborative learning tools, where students can work together on course contents.
            </p>

            <h4>Teams </h4>

        </section>
    </div>
</div><!-- ./wrapper -->
<% include ../jsfooter %>
<% include ../footer %>