<% include ../header %>
<div class = "wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>

    <section class = "content-header">
        <ol class = "breadcrumb">
            <li><a href = "/"><i class = "fa fa-home"></i> Home</a></li>
            <li>About CourseMapper</li>
        </ol>
    </section>

    <div class = "content-wrapper">
        <section class = "content">
            <div class = "box">
                <div class = "container-fluid">
                    <div class = "row">
                        <div class = "col-xs-12">
                            <div class = "box-header">
                                <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2'><b><span lang=DE style='font-size:18.0pt;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
color:black;mso-ansi-language:DE;mso-fareast-language:DE'>Datenschutzerklärung<o:p></o:p></span></b></p>
                            </div>
                            <div class = "box-body">


                                <div class=WordSection1>



                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>Verantwortlich im Sinne der
EU-Datenschutzgrundverordnung (DSGVO) und anderer nationaler Datenschutzgesetze
der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist
die: <br>
<br>
<b>Universität Duisburg-Essen</b><br>
<br>
<b style='mso-bidi-font-weight:normal'>Campus Duisburg:</b><br>
Forsthausweg 2<br>
47057 Duisburg<br>
Tel.: +49 203 379 - 0<br>
Fax.: +49 203 379 - 3333<br>
<br>
<b style='mso-bidi-font-weight:normal'>Campus Essen:</b><br>
Universitätsstraße 2<br>
45141 Essen<br>
Tel.: +49 201 183 - 0<br>
Fax.: +49 201 183 - 3536<br>
<br>
Webseite:&nbsp;</span><a href="http://www.uni-due.de"><span lang=DE
                                                            style='font-size:13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:DE;mso-fareast-language:DE'>www.uni-due.de</span></a><span
                                                lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";color:black;mso-ansi-language:DE;mso-fareast-language:DE'> <br
                                                    style='mso-special-character:line-break'>
<![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
<![endif]><o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>Die Universität Duisburg-Essen wird vertreten durch
ihren Rektor:<o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'><o:p>&nbsp;</o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b style='mso-bidi-font-weight:normal'><span lang=DE style='font-size:
13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
color:black;mso-ansi-language:DE;mso-fareast-language:DE'>Prof. Dr. Ulrich
Radtke<o:p></o:p></span></b></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>rektor@uni-duisburg-essen.de<o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-fareast-language:
DE'>Campus Duisburg:<o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-fareast-language:
DE'>Tel.: +49 203 379 – 0<o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-fareast-language:
DE'>Campus Essen:<o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>Tel.: +49 201 183 – 0<o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>Website: </span><a
                                                href="http://www.uni-due.de/de/rektorat/rektor.php"><span lang=DE
                                                                                                          style='font-size:13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:DE;mso-fareast-language:DE'>www.uni-due.de/de/rektorat/rektor.php</span></a><span
                                                lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";color:black;mso-ansi-language:DE;mso-fareast-language:DE'><o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'><br>
<b>Kontaktdaten des/der behördlichen Datenschutzbeauftragten:</b><br>
<br>
Universität Duisburg-Essen<br>
Der behördliche Datenschutzbeauftragte<br>
Dr. Kai-Uwe Loser<br>
Forsthausweg 2<br>
47057 Duisburg<br>
<br>
Telefon: 0234/32-28720<o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>E-Mail:&nbsp;</span><a
                                                href="mailto:kai-uwe.loser@uni-due.de"><span lang=DE style='font-size:13.5pt;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:DE;mso-fareast-language:DE'>kai-uwe.loser@uni-due.de</span></a><span
                                                lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";color:black;mso-ansi-language:DE;mso-fareast-language:DE'><o:p></o:p></span></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>Website: </span><a
                                                href="http://www.uni-due.de/verwaltung/datenschutz"><span lang=DE
                                                                                                          style='font-size:13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:DE;mso-fareast-language:DE'>www.uni-due.de/verwaltung/datenschutz</span></a><span
                                                lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";color:black;mso-ansi-language:DE;mso-fareast-language:DE'> <br>
<br>
Wir erheben und verwenden personenbezogene Daten unserer Nutzer/innen
grundsätzlich nur, soweit dies zur Bereitstellung von CourseMapper erforderlich
ist. Dies geschieht zwecks der Wahrnehmung der uns übertragenen Aufgabe
(Unterstützung von Lehre und Forschung) gemäß Art. 6 Abs. 1 lit. e DSGVO.
Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung
einholen, dient Art. 6 Abs. 1 lit. a DSGVO als Rechtsgrundlage.<br>
<br>
<b>(1)</b>&nbsp;Bei der Nutzung von CourseMapper werden folgende Daten erhoben:<br
                                                    style='mso-special-character:line-break'>
<![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
<![endif]></span><span lang=DE style='font-size:12.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:DE;mso-fareast-language:
DE'><o:p></o:p></span></p>

                                    <ul type=disc>
                                        <li class=MsoNormal style='color:black;mso-margin-top-alt:auto;mso-margin-bottom-alt:
     auto;line-height:normal;mso-list:l1 level1 lfo1;tab-stops:list .5in'><b><span
                                                        lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
     mso-fareast-font-family:"Times New Roman";mso-ansi-language:DE;mso-fareast-language:
     DE'>Zugangsdaten:</span></b><span lang=DE style='font-size:13.5pt;
     font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
     mso-ansi-language:DE;mso-fareast-language:DE'>&nbsp;Benutzername, Passwort
     in verschlüsselter Form, E-Mail-Adresse<o:p></o:p></span></li>
                                        <li class=MsoNormal style='color:black;mso-margin-top-alt:auto;mso-margin-bottom-alt:
     auto;line-height:normal;mso-list:l1 level1 lfo1;tab-stops:list .5in'><b><span
                                                        lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
     mso-fareast-font-family:"Times New Roman";mso-ansi-language:DE;mso-fareast-language:
     DE'>Inhaltsdaten</span></b><span lang=DE style='font-size:13.5pt;
     font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
     mso-ansi-language:DE;mso-fareast-language:DE'>&nbsp;(z.B. hochgeladene
     Dateien, Forenbeiträge, Markierungen, Kommentare)<o:p></o:p></span></li>
                                    </ul>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>Anmeldung (Zugangsdaten)</span></b><span lang=DE
                                                                  style='font-size:13.5pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";color:black;mso-ansi-language:DE;mso-fareast-language:DE'><br>
Für die Nutzung von CourseMapper ist es notwendig, sich unter Angabe
personenbezogener Daten zu registrieren. Folgende Daten werden im Rahmen des
Anmeldeprozesses erhoben:</span><span lang=DE style='font-size:12.0pt;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:DE;mso-fareast-language:DE'><o:p></o:p></span></p>

                                    <ul type=disc>
                                        <li class=MsoNormal style='color:black;mso-margin-top-alt:auto;mso-margin-bottom-alt:
     auto;line-height:normal;mso-list:l0 level1 lfo2;tab-stops:list .5in'><span
                                                    lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
     mso-fareast-font-family:"Times New Roman";mso-ansi-language:DE;mso-fareast-language:
     DE'>Benutzername<o:p></o:p></span></li>
                                        <li class=MsoNormal style='color:black;mso-margin-top-alt:auto;mso-margin-bottom-alt:
     auto;line-height:normal;mso-list:l0 level1 lfo2;tab-stops:list .5in'><span
                                                    lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
     mso-fareast-font-family:"Times New Roman";mso-ansi-language:DE;mso-fareast-language:
     DE'>Passwort in verschlüsselter Form<o:p></o:p></span></li>
                                        <li class=MsoNormal style='color:black;mso-margin-top-alt:auto;mso-margin-bottom-alt:
     auto;line-height:normal;mso-list:l0 level1 lfo2;tab-stops:list .5in'><span
                                                    lang=DE style='font-size:13.5pt;font-family:"Times New Roman",serif;
     mso-fareast-font-family:"Times New Roman";mso-ansi-language:DE;mso-fareast-language:
     DE'>E-Mail-Adresse<o:p></o:p></span></li>
                                    </ul>

                                    <p class=MsoNormal><span lang=DE style='font-size:13.5pt;line-height:107%;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
color:black;mso-ansi-language:DE;mso-fareast-language:DE'>Im Rahmen der
erstmaligen Anmeldung wird über die Verarbeitung dieser Daten informiert.
Rechtsgrundlage für die Verarbeitung der Daten ist Art. 6 Abs. 1 lit. e DSGVO.<br>
Die Anmeldung des Nutzers/der Nutzerin ist für das Bereitstellen der Inhalte
und Funktionen von CourseMapper zum Zweck der Durchführung von Forschung und
Lehre erforderlich. Eine Weitergabe der Daten an Dritte erfolgt nicht.<br>
Die Daten werden gelöscht, wenn das Nutzer/innenkonto gelöscht wird.
Nutzer/innen können ihr Nutzer/innenkonto jederzeit löschen lassen. Hierzu
reicht das Schreiben einer formlosen E-Mail an die CourseMapper-Administration
unter der Adresse ralf.berger@uni-due.de. Nutzer/innen können ihre Zugangsdaten
jederzeit berichtigen lassen. Hierzu reicht das Schreiben einer formlosen
E-Mail an die CourseMapper-Administration unter der Adresse ralf.berger@uni-due.de.
Eine Mitteilung hierüber an andere Nutzer/innen erfolgt nicht.<br>
<br>
<b>Inhaltsdaten</b><br>
Im Rahmen der Nutzung von CourseMapper werden Inhalte hinzugefügt, als Dateien,
Links, Markierungen, Kommentare, Bewertungen oder Forumsbeiträge. CourseMapper
ordnet die eingegebenen Daten einer Person zu. Das Hochladen und Einstellen von
Inhalten dient dem Zweck der Durchführung von Forschung und Lehre.
Rechtsgrundlage für die Verarbeitung der Daten ist Art. 6 Abs. 1 lit. e DSGVO.<br>
Der Zugriff auf die Inhaltsdaten wird in der CourseMapper-Datenbank gespeichert,
z.B. zu welcher Zeit welche Nutzer/innen auf welche Bestandteile der
Lehrangebote zugreifen. Diese Daten sind nur der Administration der
CourseMapper-Plattform zugänglich, nicht jedoch anderen Nutzer/innen. Sie
dienen der technischen und nutzerfreundlichen Optimierung und werden nicht an
andere Personen weitergegeben.<br>
Gespeichert wird ferner unter anderem je nach Ausgestaltung des einzelnen
Lehrangebots zu welcher Zeit welche Teilnehmer/innen welche Inhalte
hinzugefügt, bearbeitet oder gelöscht haben, Diese Daten sind sowohl der
Administration der CourseMapper-Plattform als auch anderen Kursteilnehmer/innen
zugänglich. Sie dienen ausschließlich der Durchführung der jeweiligen
Lehrveranstaltung und der Unterstützung der Zusammenarbeit in dem Kurs und
werden nicht an andere Personen weitergegeben.<br>
Gemäß Art. 89 DSGVO dürfen Daten zu wissenschaftlichen oder historischen
Forschungszwecken oder statistischen Zwecken verarbeitet werden. Eine solche
Verarbeitung ist nur in anonymisierter oder pseudonymisierter Form möglich.<br
                                                    style='mso-special-character:line-break'>
<![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
<![endif]><o:p></o:p></span></p>

                                    <p class=MsoNormal><b><span lang=DE style='font-size:13.5pt;line-height:107%;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
color:black;mso-ansi-language:DE;mso-fareast-language:DE'>(2)</span></b><span
                                                lang=DE style='font-size:13.5pt;line-height:107%;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:DE;
mso-fareast-language:DE'>&nbsp;CourseMapper setzt Cookies ein. Hierbei handelt
es sich um kleine Textdateien, die auf Ihrem Computer gespeichert werden, wenn
Sie die CourseMapper-Website besuchen. In dem Cookie werden Informationen
abgelegt, die sich jeweils im Zusammenhang mit dem spezifisch eingesetzten
Endgerät ergeben. Der Einsatz von Cookies dient dazu, die Nutzung unseres Angebots
zu ermöglichen. Wir setzen sogenannte Session-Cookies ein, um zu erkennen, dass
Sie einzelne Seiten von CourseMapper bereits besucht haben. Dieses Cookie muss
erlaubt sein, damit der Login bei den Zugriffen von Seite zu Seite erhalten
bleibt. Darüber hinaus werden temporäre Cookies zur Authentisierung
angemeldeter Nutzer eingesetzt. Alle Cookies werden beim Abmelden oder beim
Beenden des Webbrowsers automatisch gelöscht. <br>
Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter
Verwendung von Cookies ist Art. 6 Abs. 1 lit. e DSGVO.<br>
Die durch die Cookies erzeugten Informationen über Ihre Benutzung dieser
Webseite werden nicht an Dritte weitergegeben. Cookies werden auf dem Rechner
des Nutzers/der Nutzerin gespeichert und von diesem an unserer Seite
übermittelt. Daher haben Nutzer/innen auch die volle Kontrolle über die
Verwendung von Cookies. Werden Cookies für CourseMapper deaktiviert, können
nicht mehr alle Funktionen von CourseMapper vollumfänglich genutzt werden.<o:p></o:p></span></p>

                                    <p class=MsoNormal><span lang=DE style='font-size:13.5pt;line-height:107%;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
color:black;mso-ansi-language:DE;mso-fareast-language:DE'><br>
<b>(4)</b>&nbsp;Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie
Betroffene/r i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber dem
Verantwortlichen zu:<br>
Sie können von uns Auskunft zu den personenbezogenen Daten, die Sie betreffen
und die von CourseMapper verarbeitet werden, verlangen. Gemäß Art. 15 DSGVO
können Sie eine Kopie dieser Daten verlangen.<br>
Sie haben außerdem das Recht auf Berichtigung (gemäß Art. 16 DSGVO) oder
Löschung der Sie betreffenden personenbezogenen Daten (gemäß Art. 17 DSGVO),
das Recht auf Einschränkung der Verarbeitung durch den Verantwortlichen (gemäß
Art. 18 DSGVO) oder ein Widerspruchsrecht gegen diese Verarbeitung (gemäß Art.
21 DSGVO) und ein Recht auf Datenübertragbarkeit (gemäß Art. 20 DSGVO).<br>
Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten
Verarbeitung beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber
rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich
beeinträchtigt (gemäß Art. 22 DSGVO).<br>
<br>
Es besteht das Recht zur Beschwerde bei der für die Universität Duisburg-Essen
zuständigen Aufsichtsbehörde:<br>
<br>
Die Landesbeauftragte für Datenschutz und Informationsfreiheit
Nordrhein-Westfalen<br>
Kavalleriestr. 2-4<br>
40213 Düsseldorf<br>
Webseite:&nbsp;</span><a href="https://www.ldi.nrw.de/index.php"><span lang=DE
                                                                       style='font-size:13.5pt;line-height:107%;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:DE;mso-fareast-language:
DE'>https://www.ldi.nrw.de/index.php</span></a><span lang=DE style='font-size:
13.5pt;line-height:107%;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";color:black;mso-ansi-language:DE;mso-fareast-language:DE'><o:p></o:p></span></p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div><!-- ./wrapper -->
<% include ../jsfooter %>
<% include ../footer %>