<!DOCTYPE html>
<html ng-app="courseMapperAdmin">
<head>
    <meta charset="UTF-8">
    <title>CourseMap MOOC</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2-->
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bower/Ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="/favicon.png" type="image/png"/>

    <!-- Themes -->
    <link href="/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bower/AdminLTE/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
    <link href="/css/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/css/global.css" rel="stylesheet" type="text/css"/>

    <!-- Extras -->
    <link href="/bower/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/external-resources/html5shiv.js"></script>
    <script src="/external-resources/respond.min.js"></script>
    <![endif]-->
</head>
<!--
skin-black
layout-top-nav | fixed | sidebar-collapse
-->
<body class="skin-blue layout-top-nav admin">
