.dockerignore
.git
.gitignore
*.log
/.k8s
/.travis.yml
/bitbucket-pipelines.yml
/docker-compose.yml
/kustomization.yaml
/Makefile
/node_modules
/public/bower/
/public/partials/
/public/resources/
/public/img/courses/
Dockerfile
README.md
