node_modules

.DS_Store

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Runtime data
pids
*.pid
*.seed

# Logs
logs
*.log
bower_components

.idea

data/*

public/pdf_js
misc/jsPlumb-master
