<div class="row">
    <div class="col-xs-8">
        <videogular vg-player-ready="onPlayerReady($API)" vg-cue-points="cuePoints">
            <vg-media vg-src="sources"></vg-media>
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'HH:mm:ss':'UTC' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ totalTime | date:'HH:mm:ss':'UTC'}}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <div id="inline-va-container">
                <div movable can-move="{{item.isEditMode===true}}" on-moved="item.reposition" ng-repeat="item in annotations | filter:{type: 'embedded-note'}" class="inline-va-annotation" ng-show="item.showing" ng-style="{
                        top: item.position.top + '%',
                        left: item.position.left + '%',
                        width: item.size.width + '%',
                        height: item.size.height + '%'}">
                    <span>{{item.text}}</span>
                </div>
            </div>
        </videogular>
    </div>
    <div class="col-xs-4 replies">
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="col-xs-4 btn btn-primary btn-md" ng-click="createAnnotation()">Annotate</button>
                <div class="col-xs-8">
                    <select class="form-control" ng-model="sortBy">
                        <option value="" selected disabled>-- Sort by --</option>
                        <option value="start">Start time</option>
                        <option value="text">Alphabetical</option>
                        <option value="author">Author</option>
                    </select>
                    <input class="form-control" id="search-box" ng-hide="hideSearch" placeholder="Search..." ng-model="query">
                </div>
            </div>
        </div>
        <section id="annotations-view" ng-show="annotations.length > 0">
            <video-annotation ng-repeat="annotation in annotations | filter:query | orderBy:sortBy" source="annotation" ng-class="{showing: annotation.showing, completed: annotation.completed}"></video-annotation>
        </section>
    </div>
</div>
