<div class="row">
    <div class="col-sm-6">
        <videogular vg-player-ready="onPlayerReady($API)" vg-cue-points="cuePoints">
            <vg-media vg-src="sources"></vg-media>
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'HH:mm:ss':'UTC' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ totalTime | date:'HH:mm:ss':'UTC'}}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <div id="inline-va-container">
                <div movable 
                     can-move="{{item.isEditMode===true}}" 
                     on-moved="item.reposition" 
                     ng-repeat="item in annotations | filter:{type: 'embedded-note'}" 
                     class="inline-va-annotation" 
                     ng-show="item.showing"
                     ng-style="{
                        top: item.position.top + '%',
                        left: item.position.left + '%',
                        width: item.size.width + '%',
                        height: item.size.height + '%'}">
                    <span>{{item.text}}</span>
                </div>
            </div>
        </videogular>
    </div>
    <div class="col-sm-6 replies">
        <button class="btn btn-primary btn-xs" ng-click="createAnnotation()">Add annotation</button>
        <label for="search-box">Search:</label>
        <input id="search-box" ng-model="query">
        <section ng-show="annotations.length > 0" class="annotations-viewer">
            <video-annotation ng-repeat="annotation in annotations | filter:query" source="annotation" ng-class="{showing: annotation.showing, completed: annotation.completed}" ng-click="seekPosition(annotation)"></video-annotation>
        </section>
    </div>
</div>
