.debug{
    border-style: solid;
    border-color: #ff0000;
}
.hasOnClick{
    cursor: pointer;
}
.blueText{
    color: blue;
}

.annotationZoneReference{
    ;
}
#viewerWrapper{
    position: relative;
    top: 0px;
    left:0px;
}
#annotationZone{
    bottom: 45px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
}
.slideRectSpan{
  color: white;
  font-weight: bold;
  padding-left: 2pt;
  padding-right: 2pt;
  margin-left: 2px;
}

.slideRect{
}
.btn-white{
     color: #FFF;
    }
    
.btn-white:hover{
   color: #FFF;
}

.slideRect:hover{
}

#viewerContainer{
}
.notSelectable{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.iconSlideNav{
    font-size: 15pt;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

#slideNavText{
    font-size: 12pt;
    vertical-align: middle;
    display: inline-block;
    color: #fff
}

#slideNavigationProgress,
.slideNavigationProgress{
  width: 100%;
  height: 4pt;
  background-color: #191919;
}

#slideNavigationCurrentProgress,
.slideNavigationCurrentProgress
{
  width:0%;
  height: 100%;
  background-color: yellow;
}

#slideNavigation,
.slideNavigation{
  background-color: black;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
