.debug{
    border-style: solid;
    border-color: #ff0000;
}
.slide-wrapper{
  background-image: url('../images/slide.png');
  background-size: cover;
  background-repeat: no-repeat;
  widht:100%;
  height:100%;
}
.annotation-wrapper{

}
