<div class="box box-solid">
    <div class="box-body">
      <span class="posted-at">
      Posted <strong>{{postedDate | relativeDate}}</strong>
      By <strong>
          <a class="cursor"
                ng-show="authorClickable"
                ng-click="authorClickAction()">{{postedBy}}</a>
          <span ng-hide="authorClickable">{{postedBy}}</span>
         </strong>
      </span>
        <p class="reply" ng-bind-html="postContent | unsafe"></p>
    </div>
    <div class="box-footer" ng-show="showControl">
        <div class="replyControl"
             ng-show="!isDeleted" >
            <div class="replyButton">
                <a ng-show="showReplyButton"
                   title="Reply"
                   ng-click="replyAction()"
                   class="btn btn-primary btn-xs cursor"
                        >REPLY</a>
            </div>

            <div class="editReplyButton">
                <a ng-show="isPostOwner && showEditButton"
                   title="Edit"
                   ng-click="editAction()"
                   class="btn btn-primary btn-xs"
                        >EDIT</a>
            </div>

            <div class="deleteReplyButton">
                <a ng-show="isPostOwner && showDeleteButton"
                   ng-click="deleteAction()"
                   title="delete"
                   class="cursor btn btn-danger btn-xs">DELETE</a>
            </div>
        </div>
    </div>
</div>