<div ng-controller="aggregationController">
    <!-- Container top-level functions-->

    <div class="row">
        <div class="col-xs-11 container fluid">
            <div class="container-fluid controls">
                <div class="col-xs-12">
                    <form class="form-inline">
                        <div class="form-group">
                            <select ng-model="postType" class="form-control"
                                    ng-options="type as type for type in postTypes" ng-change="typeChange()"></select>
                        </div>
                        <div class="form-group">
                            <select ng-model="sortTime" class="form-control"
                                    ng-options="time as time for time in sortTimes" ng-change="typeChange()"></select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="search" class="form-control search-form-group" placeholder="Search by tags or text"
                                   ng-model="query" ng-keypress="($event.charCode==13) ? search() : null">
                        </div>
                        <div class="form-group pull-right" >
                            <switch id="enabled"  name="enabled" ng-model="enabled" on="On" off="Off" class="green" ></switch>
                        </div>
                        <div class="form-group pull-right" style="margin-right: 5px; margin-left: 15px;">
                            <label class="text-center">Personal Space</label>
                        </div>
                        <div class="form-group pull-right" style="margin-right: 10px">
                            <button class="btn btn-primary pull-right" class="form-control" type="button" data-toggle="modal"
                                    data-target="#Hubaddlink" ng-show="!enabled"> Add a link
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Default page when there is no link added-->

            <div class="container-fluid" ng-show="posts.length==0 && !enabled ">
                <div class="col-md-4 col-md-offset-4">
                    <h4>No posts found for this content<br>Press Add link on the top to add posts</h4>
                </div>
            </div>
            <!-- Default page when there is no link in personal space-->
            <div class="container-fluid" ng-show="personalPosts.length==0 && enabled ">
                <div class="col-md-4 col-md-offset-4">
                    <h4>No posts found in your personal space for this content<br></h4>
                </div>
            </div>
            <!-- End of DefaultPage -->
            <!-- presenting  the aggregated links from the DB-->
            <div class="container fluid" ng-show="posts.length>0 && !enabled">
                <hub-link ng-repeat="post in publicView" post="post" space="enabled" highlight="highlightPostId"></hub-link>
            </div>
            <div class="container fluid" ng-show="personalPosts.length>0 && enabled">
                <hub-link ng-repeat="post in personalView | orderBy : sort" post="post" space="enabled" highlight="highlightPostId"></hub-link>
            </div>
            <div class="container-fluid">
                <div class="col-xs-4 col-xs-offset-4" ng-show="posts.length!=0 && !enabled ">
                    <ul uib-pagination total-items="postsLength" ng-model="currentPagePublic" ng-change="publicPageChanged()"></ul>
                </div>
                <div class="col-xs-4 col-xs-offset-4" ng-show="personalPosts.length!=0 && enabled ">
                    <ul uib-pagination total-items="personalPostsLength" ng-model="currentPagePersonal" ng-change="personalPageChanged()"></ul>
                </div>
            </div>
        </div>
    </div>
    <% include learningHubAddLinkForm %>
</div>

