
<!--add statics files from public/my-course/
<script src="/my-course/data.js"></script>
<script src="/my-course/options.js"></script>

        <div>
            <canvas id="courseChart" width="500" height="250" style="margin-left: 40px; margin-right: auto;"></canvas>
        </div>

<script>

    var context = document.getElementById('courseChart').getContext('2d');
    //var skillsChart = new Chart(context).Doughnut(pieData);
    var myLineChart = new Chart(context).Line(lineData, lineChartOptions);
</script>

-->

<div class="box-body no-padding" ng-controller="BarProgressController">
	<canvas style="width:500px; height:150px" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas> 
	{{title}}
</div>

