
<!--add statics files from public/my-course/-->
<script src="/my-course/data.js"></script>
<script src="/my-course/options.js"></script>

        <div>
            <canvas id="courseChart" width="500" height="250" style="margin-left: 40px; margin-right: auto;"></canvas>
        </div>

<script>

    var context = document.getElementById('courseChart').getContext('2d');
    //var skillsChart = new Chart(context).Doughnut(pieData);
    var myLineChart = new Chart(context).Line(lineData, lineChartOptions);
</script>