
<div ng-controller="CoursesBreakdownController">
    <div class="col-xs-12">
        <div ng-if="courseEnrolled.length == 0" style="font-weight: 400; margin-top: 10px;">You are not enrolled in any courses yet</div>
        <div class="box-group" id="accordion">
            <div class="panel box box-primary" ng-repeat="enrolled in courseEnrolled | orderBy: '-dateUpdated'" ng-show="enrolled.course.isDeleted !=true">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="false" class="collapsed">
                            {{enrolled.course.name}} <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                    <small class="label label-success pull-right" style="font-size: 13px; cursor: pointer;" title="Number of discussion topics you created"><i class="fa fa-comments-o"></i> {{(myDiscussionStatus | filter:isDiscussion | filter:isTrue | filter:(enrolled.course._id)).length}}</small>
                    <small class="label label-success pull-right" style="font-size: 13px; margin-right: 2px; cursor: pointer;" title="Number of PDFs you added"><i class="fa fa-file-pdf-o"></i> {{(courseEnrolledResources | filter:isPdf | filter:(enrolled.course._id) | filter:(user._id)).length}}</small>
                    <small class="label label-success pull-right" style="font-size: 13px; margin-right: 2px; cursor: pointer;" title="Number of videos you added"><i class="fa fa-file-movie-o"></i> {{(courseEnrolledResources | filter:isVideo | filter:(enrolled.course._id) | filter:(user._id)).length}}</small>
                    <a type="button" class="label label-default label-xs" title="Go to course" style="font-size: 10px; margin-left: 8px; " href="/course/{{enrolled.course.slug}}/#/cid/{{enrolled.course._id}}"><i class="fa fa-external-link"></i></a>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="resource in courseEnrolledResources | orderBy: 'treeNodeId.name'" ng-if="resource.courseId == enrolled.course._id  && resource.treeNodeId.name">
                                    <td ng-if="resource.type=='pdf'">
                                            <i class="fa fa-file-pdf-o"></i> <a href="/treeNode/{{resource.treeNodeId._id}}/#/cid/{{resource.courseId}}/nid/{{resource.treeNodeId._id}}?tab=pdf">{{resource.treeNodeId.name}} </a>
                                        <small class="label label-primary pull-right" style="font-size: 12px; cursor: pointer;" title="Number of PDF annotations you created"><i class="fa fa-pencil"></i> <i class="fa fa-file-pdf-o"></i> {{(myNodeActivity | filter:isPdfAnno | filter:isTrue | filter:(resource.treeNodeId._id)).length}}</small>
<!--                                        <small class="label label-primary pull-right" style="font-size: 12px; margin-right: 2px; cursor: pointer;" title="number of link you created"><i class="fa fa-link"></i> {{(myNodeActivity | filter:isLink | filter:isTrue | filter:(resource.treeNodeId._id)).length}}</small>-->
                                        <small class="label label-primary pull-right" style="font-size: 12px; margin-right: 2px; cursor: pointer;" title="Number of external resources you added"><i class="fa fa-link"></i> {{(myNodeActivity | filter:isExtResource | filter:isTrue | filter:(resource.treeNodeId._id)).length}}</small>
                                        <small class="badge bg-light-blue pull-right" style="font-size: 12px; margin-right: 2px; cursor: pointer;" ng-if="resource.createdBy == user._id" title="You created this content node">mine</small>
                                    </td>
                                    <td ng-if="resource.type!='pdf'">
                                        <i class="fa fa-file-movie-o"></i> <a href="/treeNode/{{resource.treeNodeId._id}}/#/cid/{{resource.courseId}}/nid/{{resource.treeNodeId._id}}?tab=video">{{resource.treeNodeId.name}} </a>
                                        <small class="label label-primary pull-right" style="font-size: 12px; cursor: pointer;" title="Number of video annotations you created"><i class="fa fa-pencil"></i> <i class="fa fa-file-movie-o"></i> {{(myNodeActivity | filter:isVideoAnno | filter:isTrue | filter:(resource.treeNodeId._id)).length}}</small>
<!--                                        <small class="label label-primary pull-right" style="font-size: 12px; margin-right: 2px; cursor: pointer;" title="Number of link you created"><i class="fa fa-link"></i> {{(myNodeActivity | filter:isLink | filter:isTrue | filter:(resource.treeNodeId._id)).length}}</small>-->
                                        <small class="label label-primary pull-right" style="font-size: 12px; margin-right: 2px; cursor: pointer;" title="Number of external resources you added"><i class="fa fa-link"></i> {{(myNodeActivity | filter:isExtResource | filter:isTrue | filter:(resource.treeNodeId._id)).length}}</small>
                                        <small class="badge bg-light-blue pull-right" style="font-size: 12px; margin-right: 2px; cursor: pointer;" ng-if="resource.createdBy == user._id" title="you created this content node">mine</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
