<div class="box-body no-padding" ng-controller="CourseListEnrolledController">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th style="width:10px;">Nr.</th>
            <th>{{headerTitle}}</th>
        </tr>
        <tr ng-repeat="enrolled in courseEnrolled">
            <td>{{$index+1}}.</td>
            <td><a href="/course/{{enrolled.course.slug}}/#/cid/{{enrolled.course._id}}"> {{enrolled.course.name}} </a></td>
        </tr>
        </tbody>
    </table>
</div>

