<script type="application/javascript" ng-src="/my-course/data.js"></script>
<script type="application/javascript" ng-src="/my-course/options.js"></script>


        <div ng-controller="BeController" style="width:250px; height:250px">
            <ul>
                <li ng-repeat="cat in categories">
                    {{cat.name}}
                </li>
            </ul>
        </div>