<div class="box-body no-padding" style="width:250px; height:250px" ng-controller="CatListController">
	<table class="table table-stripped">
		<tbody>
			<tr>
				<th style="width: 35px">{{title}}</th>
			</tr>
			<tr ng-repeat="cat in categories">
				<td> {{cat.name}} </td>
			</tr>
		</tbody>
	</table>
</div>

