<div class="box-body no-padding" ng-controller="ParticipationBalanceController">

    <script type="text/ng-template" id="field_renderer.html">
        {{field.name}}
        <ul>
            <li ng-repeat="field in field.childrens" ng-include="'field_renderer.html'"></li>
        </ul>
    </script>

    <h3>Enrolled</h3>
    <ul>
        <li ng-repeat="field in courses.enrolled" ng-include="'field_renderer.html'"></li>
    </ul>

    <h3>Created</h3>
    <ul>
        <li ng-repeat="field in courses.created" ng-include="'field_renderer.html'"></li>
    </ul>
</div>