<div ng-controller="ParticipationBalanceController">

    <!--  Recursive template  -->
    <script type="text/ng-template" id="field_renderer.html">
        <div ng-if="field.type != 'contentNode'">
            <label for="{{field._id}}">{{field.name}}</label>
            <input id="{{field._id}}" type="checkbox"
                   ng-init="expandState[field._id]=false"
                   ng-model="expandState[field._id]"/>
            <ul ng-if="field.childrens.length > 0">
                <li ng-repeat="field in field.childrens" ng-include="'field_renderer.html'"></li>
            </ul>
        </div>

        <li ng-if="field.type == 'contentNode'" class="file" style="width: 50%">
            <a href="/treeNode/{{field._id}}/#/cid/{{field.courseId}}/nid/{{field._id}}"
               ng-mouseover="isVisible=true"
               ng-mouseleave="isVisible=false"
               style="display: inline-block; padding: 2px 5px">

                <div style="background: gray; width: 40px; padding: 0 2px; display: inline-block">
                    <span class="pull-right" ng-style="{ 'color': percentToHSLColor(getPBP(field), true)}">{{getPBP(field) * 100}}%</span>
                </div>
                {{field.name}}
            </a>
            <div ng-show="isVisible" class="info-box bg-aqua" style="opacity: 0.95; position: absolute; z-index: 5;">
                <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"> {{field.name}}</span>
                    <span class="info-box-number">Contributions {{field.userAnnotations}} / {{field.totalAnnotations }}</span>
                    <div class="progress">
                        <div class="progress-bar" ng-style="{ 'width' : getPBP(field)*100 + '%'}"></div>
                    </div>
                    <span class="progress-description">
                        {{getPBP(field) * 100}}% participation
                    </span>
                </div>
            </div>
        </li>
    </script>


    <div ng-show="courses.enrolled.length > 0">
        <h3>Enrolled
            <div style="display: inline-block">
                <button ng-click="setExpandState(true)" type="button" class="btn btn-box-tool"><i
                            class="fa fa-plus"></i></button>
                <button ng-click="setExpandState(false)" type="button" class="btn btn-box-tool"><i
                            class="fa fa-minus"></i></button>
            </div>
        </h3>
        <ul class="tree">
            <li ng-repeat="field in courses.enrolled" ng-include="'field_renderer.html'"></li>
        </ul>
    </div>

    <div ng-show="courses.created.length > 0">
        <h3>Created
            <div style="display: inline-block">
                <button ng-click="setExpandState(true)" type="button" class="btn btn-box-tool"><i
                            class="fa fa-plus"></i></button>
                <button ng-click="setExpandState(false)" type="button" class="btn btn-box-tool"><i
                            class="fa fa-minus"></i></button>
            </div>
        </h3>

        <ul class="tree">
            <li ng-repeat="field in courses.created" ng-include="'field_renderer.html'"></li>
        </ul>
    </div>
</div>