<div class="box-body no-padding" ng-controller="PdfStatusController">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th style="width:10px;">Nr.</th>
            <th>
                <a href="#" ng-click="sortType = 'nodeId.name'; sortReverse = !sortReverse">
                    PDF Name
                    <i ng-show="sortType == 'nodeId.name' && !sortReverse" class="fa fa-caret-down"></i>
                    <i ng-show="sortType == 'nodeId.name' && sortReverse" class="fa fa-caret-up"></i>
                </a>
            </th>
            <th>Last Page Opened</th>
            <th>Total Page</th>
            <!--<th>Percentage Finished</th>-->
            <th>
                <a href="#" ng-click="sortType = 'dateUpdated'; sortReverse = !sortReverse">
                    Date Accessed
                    <i ng-show="sortType == 'dateUpdated' && !sortReverse" class="fa fa-caret-down"></i>
                    <i ng-show="sortType == 'dateUpdated' && sortReverse" class="fa fa-caret-up"></i>
                </a>
            </th>
        </tr>
        <tr ng-repeat="pdf in pdfHistory | orderBy:sortType:sortReverse">
            <td>{{$index+1}}.</td>
            <td><a href="/course/{{pdf.courseId.slug}}/#/cid/{{pdf.courseId._id}}/nid/{{pdf.nodeId._id}}?slidePage={{pdf.pageNumber}}">{{pdf.nodeId.name}}</a></td>
            <td>{{pdf.pageNumber}}</td>
            <td>{{pdf.totalPage}}</td>
            <!--<td>{{((pdf.pageNumber/pdf.totalPage)*100).toFixed(2)}}%</td>-->
            <td>{{pdf.dateUpdated | relativeDate}}</td>
        </tr>
        </tbody>
    </table>
</div>