<div class="box box-default link-box">
    <div class="box-header link-header">
        <div class="row">
            <div class="col-xs-1 text-center icon link-icon"><i class="fa   fa-external-link fa-2x"></i></div>
            <div class="col-xs-8 title-text">
                <span ><a href="{{vm.post.url}}">{{vm.post.title}}</a></span>
            </div>
            <div class="col-xs-3">
                    <span class="card-action pull-right">
                         <i class="fa fa-star-o" ng-show="vm.owner"></i>&nbsp;
                        <i class="fa fa-pencil-square-o" ng-show="vm.owner" ng-click="vm.edit(vm.post)"></i>&nbsp;
                        <i class="fa fa-times" ng-show="vm.owner" ng-click="vm.delete(vm.post)"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="box-body link-body">
        <div class="row">
            <div class="col-xs-11 link-description">
                <h4><b>Description</b></h4>
                <p class="description text-justify">
                    {{vm.post.description}}
                </p>
                <p>
                    <span><img src="{{vm.post.favicon}}">Read more in </span><a href="{{vm.post.url}}" target="_blank">{{vm.post.hostName}}</a>
                </p>
            </div>
            <div class="col-xs-11">
                <span ng-repeat="tag in vm.post.tags" class=" tag label-primary">{{tag}}</span>
            </div>
        </div>
    </div>
</div>
