<div class="box box-default video-box">
    <div class="box-header video-header">
        <div class="row">
            <div class="col-xs-1 text-center icon video-icon"><i class="fa fa-file-video-o fa-2x"></i></div>
            <div class="col-xs-8 title-text">
                <span>{{vm.post.title}}</span>
            </div>
            <div class="col-xs-3">
                    <span class="card-action pull-right">
                        <i class="fa fa-star-o" ng-show="vm.owner"></i>&nbsp;
                        <i class="fa fa-pencil-square-o" ng-show="vm.owner" ng-click="vm.edit(vm.post)"></i>&nbsp;
                        <i class="fa fa-times" ng-show="vm.owner" ng-click="vm.delete(vm.post)"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="box-body video-body">
        <div class="row">
            <div class="video col-md-6 col-xs-11">
                <span class="voting"></span>
                <iframe src= "{{vm.post.url}}" width="100%" height=300px allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <h4><b>Description</b></h4>
                <p class="description text-justify">
                    {{vm.post.description}}
                </p>
            </div>
            <div class="col-xs-11">
               <span ng-repeat="tag in vm.post.tags" class=" tag label-primary">{{tag["text"] || tag }}</span>
            </div>
        </div>
    </div>
</div>
<!--<hub-post-delete post="vm.post"></hub-post-delete>-->
<toaster-container></toaster-container>
