<script type="text/ng-template" id="actionBar-node-preview">
    <ul ng-controller="ActionBarController">
        <li ng-show="isOwner">
            You created this content node
        </li>
        <li ng-show="isOwner">
            <a style="cursor: pointer"
               data-toggle="modal" data-target="#editContentNodeModal"
               title="Edit this content node">
                <i class="ionicons ion-edit"></i> &nbsp; EDIT</a>
        </li>

        <li ng-repeat="EAM in extraActionsMenu">
            <a ng-if="EAM.html" ng-bind-html="EAM.html|unsafe"></a>
            <i class="ionicons ion-android-more-vertical" ng-if="EAM.separator">&nbsp;</i>
            <a class="cursor" title="EAM.aTitle" ng-show="EAM.clickAction" ng-click="EAM.clickAction(EAM.clickParams)" ng-bind-html="EAM.title|unsafe">
            </a>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="actionBar-node-analytics">
    <ul class="">
        <li>
            <a style="cursor: pointer;"
               data-toggle="modal" data-target="#widgetGalleryNodeAnalytics"
               title="Add or remove preview widgets">
                <i class="ionicons ion-android-apps"></i> &nbsp; WIDGETS STORE</a>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="actionBar-node-updates">
    <ul class="">
        <a style="cursor: pointer"
           title="Add External Resource">
            <i class="ionicons ion-edit"></i> &nbsp; FILTER</a>
    </ul>
</script>

<script type="text/ng-template" id="actionBar-node-links">
    <ul ng-controller="ActionBarController">
        <li ng-show="enrolled || isOwner">
            <a style="cursor: pointer;"
               data-toggle="modal" data-target="#addNewLinksModal"
               title="Add New Link">
                <i class="ionicons ion-android-add"></i> &nbsp; ADD NEW LINK</a>
        </li>

        <li ng-repeat="EAM in extraActionsMenu">
            <a ng-if="EAM.html" ng-bind-html="EAM.html|unsafe"></a>
            <i class="ionicons ion-android-more-vertical" ng-if="EAM.separator">&nbsp;</i>
            <a class="cursor" title="EAM.aTitle" ng-show="EAM.clickAction" ng-click="EAM.clickAction(EAM.clickParams)" ng-bind-html="EAM.title|unsafe">
            </a>
        </li>

    </ul>

</script>