<script type="text/ng-template" id="actionBar-course-preview">
    <ul ng-controller="actionBarCoursePreviewController">
        <li ng-hide="isOwner || isManager">
            <span ng-hide="user">Please
                login to enroll to this course</span>

            <i ng-show="loading" class="fa fa-refresh fa-spin"></i>
            <a ng-show="user && !isEnrolled" ng-click="enroll()" style="cursor: pointer"><strong>Enroll here to
                participate in this course</strong></a>

            <span ng-show="isEnrolled && !loading">You are following this course.</span>
            <a ng-show="isEnrolled" class="" style="cursor:pointer" ng-click="leave()">
                LEAVE COURSE</a>
        </li>
        <li ng-show="isOwner">
            You created this course
        </li>
        <li ng-show="isManager">
            You are a manager
        </li>
        <li ng-show="isOwner || isManager">
            <a style="cursor: pointer"
               data-toggle="modal" data-target="#editView"
               title="Edit this course's details">
                <i class="ionicons ion-edit"></i> &nbsp; EDIT</a>
        </li>
        <li ng-show="isOwner">
            <a style="cursor: pointer"
               data-toggle="modal" data-target="#configView"
               title="Edit this course's details">
                <i class="ionicons ion-gear-a"></i> &nbsp; SETTINGS</a>
        </li>
        <li ng-show="isOwner || isManager">
            <a style="cursor: pointer;"
               data-toggle="modal" data-target="#widgetGallery"
               title="Add or remove preview widgets">
                <i class="ionicons ion-android-apps"></i> &nbsp; WIDGETS STORE</a>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="actionBar-course-analytics">
    <ul class="">
        <li ng-show="isOwner">
            <a style="cursor: pointer;"
               data-toggle="modal" data-target="#widgetGalleryAnalytics"
               title="Add or remove preview widgets">
                <i class="ionicons ion-android-apps"></i> &nbsp; WIDGETS STORE</a>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="actionBar-course-map">
    <ul class="">
        <li ng-show="isEnrolled || isOwner">

        </li>
    </ul>
</script>

<script type="text/ng-template" id="actionBar-course-discussion">
    <ul ng-controller="ActionBarController">
            <li ng-show="isEnrolled || isOwner">
                <a style="cursor: pointer;"
                   data-toggle="modal" data-target="#addNewTopicModal"
                   title="Add New Topic">
                    <i class="ionicons ion-android-add"></i> &nbsp; ADD NEW TOPIC</a>
            </li>

            <li ng-repeat="EAM in extraActionsMenu">
                <a ng-if="EAM.html" ng-bind-html="EAM.html|unsafe"></a>
                <i class="ionicons ion-android-more-vertical" ng-if="EAM.separator">&nbsp;</i>
                <a class="cursor" title="EAM.aTitle" ng-show="EAM.clickAction" ng-click="EAM.clickAction(EAM.clickParams)" ng-bind-html="EAM.title|unsafe">
                </a>
            </li>


    </ul>

</script>