<% include actionBarCourse %>

<section class="content-header action-header blue">
    <ol class="breadcrumb">
        <li class="home">{{course.name}}</li>
        <li class="active">{{currentTab}}</li>
    </ol>

    <div class="navbar-custom-menu" ng-show="currentTab=='preview'" ng-include
         src="'actionBar-course-preview'"></div>

    <div class="navbar-custom-menu" ng-show="currentTab=='analytics'" ng-include
         src="'actionBar-course-analytics'"></div>

    <div class="navbar-custom-menu" ng-show="currentTab=='map'" ng-include
         src="'actionBar-course-map'"></div>

    <div class="navbar-custom-menu" ng-show="currentTab=='discussion'" ng-include
         src="'actionBar-course-discussion'"></div>

</section>

<!-- Main content -->
<section class="content-course">
    <div class="box no-border" id="courseTabs">
        <div class="box-body no-border">

            <!-- tabs left -->
            <div class="tabbable tabs-left">

                <% include courseDetailLeftTab %>

                <div class="tab-content">
                    <div class="tab-pane active" id="preview">
                        <% include courseDetailContentPreview %>
                    </div>

                    <div class="tab-pane" id="map">
                        <% include courseDetailContentMap %>
                        <div class="clear"></div>
                    </div>

                    <div class="tab-pane" id="discussion">
                        <% include ../../discussion/topics %>
                    </div>

                    <div class="tab-pane" id="updates">
                        <% include courseDetailContentUpdates %>
                    </div>

                    <div class="tab-pane" id="analytics">
                        <% include courseDetailContentAnalytics %>
                    </div>
                </div>
            </div>
            <!-- /tabs -->

        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- /.content -->

<!-- modal contents -->
<% include courseDetailModals %>
<!-- /.modal contents -->

<script>
    $(document).ready(function () {
        handleTab();

        if (location.hash !== '')
            $(document).scrollTop(0);
    });
</script>