<!-- add Sub Topic form -->
<div class="row">
    <div class="modal" id="addSubTopicModal" tabindex="-1" role="dialog"
         aria-labelledby="add sub topic" aria-hidden="true">
        <div ng-include="'/course/addSubTopic'"></div>
    </div>
</div>

<!-- add Content Node Modal form -->
<div class="row">
    <div class="modal" id="addContentNodeModal" tabindex="-1" role="dialog"
         aria-labelledby="add sub topic" aria-hidden="true">

        <div ng-include="'/course/addContentNode'"></div>
    </div>
</div>

<!-- edit contentNode form -->
<div class="row">
    <div class="modal" id="editContentNodeModal" tabindex="-1" role="dialog"
         aria-labelledby="edit view" aria-hidden="true">
        <div ng-include="'/course/editContentNode'"></div>
    </div>
</div>

<!-- edit subtopic Node Modal form -->
<div class="row">
    <div class="modal" id="editSubTopicModal" tabindex="-1" role="dialog"
         aria-labelledby="edit sub topic" aria-hidden="true">

        <div ng-include="'/course/editSubTopic'"></div>
    </div>
</div>
