<% include ../header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>

    <div class="content-wrapper" ng-view>
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->

<div ng-include="'/accounts/loginform'"></div>

<% include ../jsfooter %>

<script src="/gridstack/gridstack.js"></script>

<% include ../footer %>
