<% include ../headerWithSidebar %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>
    <aside class="main-sidebar" ng-controller="CategoryListController as categoryList">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">CATEGORIES</li>
                <li ng-repeat="category in categories.categories" class="treeview">
                    <a href="#">
                        <span>{{category.category}}</span>
                        <i ng-show="(category.subCategories.length)" class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" ng-show="(category.subCategories.length)" >
                        <li ng-repeat="subCategory in category.subCategories" on-finish-render="sidebarInit"><a href="#">{{subCategory}}</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/catalogs/courses"> </i> Courses</a></li>
                <li><a href="/catalogs/courses/I.T"> </i> I.T</a></li>
                <li class="active">Web Tech</li>
            </ol>

        </section>

        <!-- /.modal-content -->
        <div id="rightClick" class="hide" ng-controller="RightClickMenuController as rc">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="javascript:;" ng-click="createTopic('Web Tech')"> Create Topic </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->

        <!-- Main content -->
        <script src="/d3/d3.min.js"></script>
        <section class="content" id="tree" ng-controller="TreeController as treeCtrl">
            <h1 style="color: red;">Screen B</h1>
            <img style="float: left;" src="/img/_test_1_2.png" />

            <a href="/catalogs/web-tech" class="linkingVideo back1"></a>
            <a href="/catalogs/web-tech" class="linkingVideo back2"></a>
            <a data-toggle="modal" data-target="#modalVideo" class="linkingVideo videoPopUp"></a>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</div><!-- ./wrapper -->

<div id="modalVideo" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalVideoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:80%!important;">
        <div class="modal-content">
            <img src="/img/video.jpg" style=" width: 100%;" onclick="$('#modalVideo').modal('hide');" />
        </div>
    </div>
</div>

<% include ../jsfooter %>
<% include ../footer %>