<% include ../header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/courses/#/category/<%=course.category.slug%>"> </i> <%=course.category.name%></a></li>
            <li class="active">{{course.name}}</li>
        </ol>
    </section>

    <div class="content-wrapper" ng-view>
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->


<% include ../jsfooter %>

<script src="/gridstack/gridstack.js"></script>
<!--add chart.js source-->
<script src="/chartjs/Chart.min.js"></script>
<!--add statics files from public/my-course/-->
<script src="/my-course/data.js"></script>
<script src="/my-course/options.js"></script>

<!--course widget static source from public/course-analytics (css file should be removed to header later)-->
<link rel="stylesheet" type="text/css" href="/course-analytics/user_profile.css">

<script>
    $(document).ready(function () {
        initiateDraggableGrid(['#course-preview-widgets', '#course-analytics-widgets']);

        handleTab();

        if (location.hash !== '')
            $(document).scrollTop(0);
    });
</script>

<% include ../footer %>
