<% include ../header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>

    <div class="content-wrapper" ng-view>
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->

<% include ../jsfooter %>

<script src="/gridstack/gridstack.js"></script>
<!--Add angular chart to wrap whole tabs here-->
<script src="/chartjs/Chart.min.js"></script>
<script src="/chartjs/angular-chart.min.js"></script>
<% include ../footer %>
