<% include ../headerWithSidebar %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>
    <aside class="main-sidebar" ng-controller="CategoryListController as categoryList">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">CATEGORIES</li>
                <li ng-repeat="category in categories.categories" class="treeview">
                    <a href="#">
                        <span>{{category.category}}</span>
                        <i ng-show="(category.subCategories.length)" class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" ng-show="(category.subCategories.length)">
                        <li ng-repeat="subCategory in category.subCategories" on-finish-render="sidebarInit"><a
                                href="#">{{subCategory}}</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/catalogs/courses"> </i> Courses</a></li>
                <li><a href="/catalogs/courses"> </i> I.T</a></li>
                <li>Web Tech</li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box no-border" style="min-height:640px;">
                <div class="box-header no-border">
                    <a class="btn btn-block btn-primary btn-flat follow">Follow</a>
                    <h1>Web Tech</h1>
                </div>
                <div class="box-body no-border">

                    <!-- tabs left -->
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#preview" data-toggle="tab">
                                <i class="ionicons ion-social-buffer-outline"></i>
                                Preview</a></li>
                            <li><a href="#dashboard" data-toggle="tab">
                                <i class="ionicons ion-ios-speedometer-outline"></i>
                                Dashboard</a></li>
                            <li><a href="#discussion" ng-show="user" data-toggle="tab">
                                <i class="ionicons ionicons ion-ios-chatboxes-outline"></i>
                                Discussion</a></li>
                            <li><a href="#updates" ng-show="user" data-toggle="tab">
                                <i class="ionicons ion-ios-time-outline"></i>
                                Updates</a></li>
                            <li><a href="#analytics" ng-show="user" data-toggle="tab">
                                <i class="ionicons ion-stats-bars"></i>
                                Analytics</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="preview">

                                <div class="col-xs-9">
                                    <div class="form-group">
                                        Started By: <strong>Ridho Laksono</strong> on <b> 02/09/2014</b> -
                                        Last activity:<b> 2 days ago</b><br>
                                        User Rating:
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <a href="/catalogs/web-tech"><img src="/img/minitree.png"></a>
                                    <div class="form-group">
                                    The things that are related to Web Tech
                                </div>
                                    <div class="form-group">
                                        Contributors:
                                        <ul>
                                            <li>John Doe</li>
                                            <li>Jane Doe</li>
                                            <li>John Doe</li>
                                            <li>Jane Doe</li>
                                            <li>John Doe</li>
                                            <li>Jane Doe</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="dashboard">

                            </div>
                            <div class="tab-pane" id="discussion"></div>
                            <div class="tab-pane" id="updates"></div>
                            <div class="tab-pane" id="analytics"></div>
                        </div>
                    </div>
                    <!-- /tabs -->

                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->


<% include ../jsfooter %>
<script>
    $(document).ready(function () {
    });
</script>
<% include ../footer %>