<!-- widgetGallery for course preview -->
<div class="row" ng-controller="WidgetGalleryController">
    <div class="modal" id="widgetGallery" tabindex="-1" role="dialog"
         aria-labelledby="wigets gallery" aria-hidden="true" ng-init="initData('course-preview')">
        <div ng-include="'/widgets/gallery'"></div>
    </div>
</div>

<!-- widgetGallery for course analytics -->
<div class="row" ng-controller="WidgetGalleryController">
    <div class="modal" id="widgetGalleryAnalytics" tabindex="-1" role="dialog"
         aria-labelledby="wigets gallery Analytics" aria-hidden="true" ng-init="initData('course-analytics')">
        <div ng-include="'/widgets/gallery'"></div>
    </div>
</div>

<!-- course edit form -->
<div class="row">
    <div class="modal" id="editView" tabindex="-1" role="dialog"
         aria-labelledby="edit view" aria-hidden="true">
        <div ng-include="'/course/edit'"></div>
    </div>
</div>

<!-- course setting form -->
<div class="row">
    <div class="modal" id="configView" tabindex="-1" role="dialog"
         aria-labelledby="config view" aria-hidden="true">
        <% include courseConfigModal %>
    </div>
</div>