<!-- Main content -->
<section class="content">
    <div class="row row-centered">
        <div class="col-xs-12 col-md-5 col-centered">
            <div class="box no-border" ng-controller="CourseEditController" ng-init="init()">
                <div class="box-header with-border">
                    <h3 class="box-title">Editing a course: {{courseEdit.name}}</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                </div>

                <div class="box-body no-border">
                    <form class="" role="form" ng-submit="saveCourse()">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="course">Course Name</label>

                                <p class="help-block">Course name can contain any letters or numbers</p>

                                <div class="controls">
                                    <input type="text" id="course" name="course" placeholder="" class="form-control"
                                           ng-model="courseEdit.name">
                                </div>
                            </div>

                            <div class="control-group">
                                <p></p>
                                <label class="control-label" for="description">Description</label>

                                <p class="help-block">Description about this course</p>

                                <div class="controls">
                                <textarea type="description" id="description" name="description" placeholder=""
                                          class="form-control" ng-model="courseEdit.description">
                                </textarea>

                                </div>
                            </div>

                            <div class="control-group">
                                <p></p>
                                <label class="control-label" for="description">Tagging</label>

                                <p class="help-block">Put some tags related to this course</p>

                                <div class="controls">
                                    <tags-input ng-model="tagsRaw">
                                    </tags-input>

                                </div>
                            </div>

                            <div class="control-group">
                                <p></p>
                                <label class="control-label" for="description">Intro Picture</label>
                                <p class="help-block">Select a jpg/png file (960 × 480 pixels) from your computer</p>
                                <div class="controls">
                                    <div class="btn btn-sm btn-default"
                                         ngf-select accept="image/*" ngf-accept="'image/jpg,image/jpeg,image/png'"
                                         ng-model="files" ngf-multiple="false" ngf-max-size='1000000'><i class="ionicons ion-image"></i> &nbsp; Select a picture</div>
                                    &nbsp; <span ng-repeat="f in files">{{f.name}}</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <p class="help-block"></p>

                                <p class="help-block"></p>
                                <br class="clear">

                                <div class="box-footer">
                                    <span class="help-block" ng-show="errors">{{ errors }}</span>
                                    <!-- Button -->
                                    <div class="controls">
                                        <button class="btn btn-md btn-primary">Save Edit</button>
                                        <button type="button" class="btn btn-md btn-primary"
                                                data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                            <span aria-hidden="true">Cancel</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- ./CourseEditController-->
        </div>
    </div>
</section>
