<% include ../header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-controller="NewCourseController">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/catalogs/courses"> </i> Courses</a></li>
                <li class="active">New</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box no-border">
                <div class="box-body no-border">
                    <div class="col-xs-12 col-md-6">
                        <form class=" " role="form" ng-submit="saveCourse()">
                            <fieldset>
                                <div id="legend">
                                    <h1>Create a new course</h1>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="course">Course Name</label>

                                    <div class="controls">
                                        <input type="text" id="course" name="course" placeholder="" class="form-control"
                                               ng-model="course.course">

                                        <p class="help-block">Course name can contain any letters or numbers</p>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="category">Category</label>

                                    <div class="controls">
                                        <select id="category" name="category" class="form-control"
                                                ng-options="c.slug as c.category for c in categories"
                                                ng-model="course.category">
                                        </select>

                                        <p class="help-block">Please pick one category</p>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="description">Description</label>

                                    <div class="controls">
                                <textarea type="description" id="description" name="description" placeholder=""
                                          class="form-control" ng-model="course.description">
                                </textarea>

                                        <p class="help-block">Description about this course</p>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <!-- Button -->
                                    <div class="controls">
                                        <button class="btn btn-lg btn-primary btn-block">Create New Course</button>
                                    </div>
                                </div>

                                <span class="help-block" ng-show="errorName">{{ errorName }}</span>
                            </fieldset>
                        </form>
                    </div>
                    <p></p>
                    <br class="clear">
                </div>

                <div class="box-footer">

                </div>
            </div>
            {{course}}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->


<script src="/d3/d3.min.js"></script>
<% include ../jsfooter %>
<script src="/jquery/jquery-ui.min.js"></script>
<script src="/jquery/jquery.ui.touch-punch.min.js"></script>
<script src="/jquery/jquery.plugin.js"></script>
<script>
    $(document).ready(function () {
    });

</script>
<script src="/d3/rightclick.js"></script>
<script src="/d3/tree.js"></script>

<% include ../footer %>