<div class="row">

    <div class="col-xs-11" ng-controller="CommentListController">

        <div class="slide-container col-sm-8 col-md-8">
            <div id="viewerWrapper">

                <pdf-viewer source="{{pdfFile.link}}" current-page-number="1"></pdf-viewer>

                <div id="annotationZone">
                    <!--<div movable style="background-color:yellow;height:100px;width:100px;" ></div>-->
                </div>

            </div>
        </div>
        <div class="posts-list col-sm-4 col-md-4">

            <div class="annotation-wrapper">

                <!--<button class="btn btn-default" onclick="switchCommentSubmissionDisplay();">Write comment</button>-->

                <div id="commentSubmissionDiv" ng-show="writeCommentMode">
                    <form name="commentForm" ng-submit="submitComment()">
                        <fieldset>
                            <div class="control-group">
                                    <div id="rawText" name="rawText"
                                         ng-model="comment.rawText"
                                         quill type="pdf-comment">
                                    </div>
                            </div>

                            <!-- Will be filled when annotation zones are created -->
                            <div id="annotationZoneSubmitList">
                            </div>

                            <div id="annZoneList"
                                 ng-controller="AnnotationZoneListController">
                                <div id="errorResponseAreaforTagIds" class="errorResponseAreaforTags" ng-show="tagNameErrors">
                                    <div id="tagErrorList" ng-repeat="(key, item) in tagNameErrors">
                                        The annotation zone with the name "{{item.name}}" is invalid: {{item.text}}
                                    </div>
                                </div>

                                <div>
                                  <label> Currently edited annotation zones: </label>
                                  <div ng-repeat="item in tagNamesList">
                                    #{{item}} : <button type="button" class="btn btn-primary" ng-click="addReference('#'+ item);"> Add reference </button>
                                  </div>
                                </div>

                                <div>
                                  <label> Already existing annotation zones: </label>
                                  <div ng-repeat="item in annZones">
                                    {{item.name}} : <button type="button" class="btn btn-primary" ng-click="addReference(item.name);"> Add reference </button>
                                  </div>
                                </div>

                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <br class="clear">
                                    <button class="btn btn-primary"> Add Comment
                                        <spinner show="isLoading"></spinner>
                                    </button>

                                    <button type="button" class="btn btn-warning" ng-click="writeCommentMode=false">Cancel</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>

                <!--<div id="annotationZoneSubmitListMovables">
                    <button class="btn btn-default" onclick="createMovableAnnZone();">
                        Add Annotation Zone
                    </button>
                </div>-->
                <label id="commentSubmissionResponse"></label>


            </div>

            <div class="commentZoneList">
                    <h4>Comments</h4>

                    <div class="row">
                      <div class="col-md-6"><input id="searchInput" placeholder="Search..." class="col-md-12" ng-model="rawSearchTerm"></input></div>
                        <div class="controls col-md-6">
                            <div class="nopadding">
                                <select id="orderTypeSelect"
                                        placeholder = "bla"
                                        ng-model="orderType"
                                        ng-init="orderType = orderType || orderingOptions[0]"
                                        ng-options="item as item.name for item in orderingOptions"
                                        class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                      <label id="activeFilterLabel" ng-bind="activeFilterString"></label>
                      <button class="btn btn-white btn-link" ng-click="removeActiveFilters();" style="color:black;">X</button>
                    </div>
                    <div id="commentList" class="row">

                        <div class="replies" ng-repeat="comment in comments" ng-cloak>
                            <div class="col-xs-1">
                                <voting vote-type="slideComment" vote-type-id="{{comment._id}}"></voting>
                            </div>
                            <div class="col-xs-11">
                                <comment posted-by="{{comment.author}}"
                                         post-id="{{comment._id}}"
                                         posted-date="{{comment.date}}"
                                         post-content="comment.html"
                                         is-post-owner="comment.author==$root.user.username"
                                         show-control="true"
                                         show-reply-button="true"
                                         show-delete-button="true"
                                         show-edit-button="true"
                                         author-clickable="true"
                                         author-click-action="authorLabelClick(comment.author)"
                                        ></comment>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </div>

</div>

<script>
    $("#btn-fullscreen").click(function () {
        $("#viewerWrapper").toggleFullScreen();
    });
</script>
