<% if(isInIframe &&
        (
          (treeNode && treeNode.settings && treeNode.settings['disableTop']) ||
          (course && course.settings && course.settings['disableTop'])
        )
      ){ %>
<% } else { %>
<section class="content-header main-breadcrumb">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/courses/#/category/{{course.category.slug}}%>"> </i> {{course.category.name}}</a></li>
    </ol>
</section>
<% } %>
<section class="content-header action-header red">
    <li class="visible-sm-inline-block visible-xs-inline-block draw-tab-button">
        <a class="cursor" onclick="toggleTabMenu()" style="color: white"><i class="ionicons ion-navicon-round"></i></a>
    </li>
    <!-- breadcrumb 2nd row -->
    <ol class="breadcrumb">
        <% if(isInIframe && treeNode && treeNode.settings && treeNode.settings['disableTop']){ %>
        <% } else { %>
        <li class="home">
            <a href="/course/{{course.slug}}/#/cid/{{course._id}}?tab=map&center={{nodeId}}"> &leftarrow;Back &nbsp;&nbsp;
                {{course.name}}
            </a>
        </li>
        <li ng-show="nodeId"><a href="/course/{{course.slug}}/#/cid/{{course._id}}?tab=map&center={{nodeId}}">Map</a>
        </li>
        <% } %>
        <li ng-show="treeNode">
            <a href="/treeNode/{{nodeId}}/#/cid/{{course._id}}/nid/{{nodeId}}?tab={{defaultPath}}">{{treeNode.name}}</a>
        </li>
        <li class="active">{{tabDisplayName}}</li>
    </ol>
    <!-- breadcrumb 2nd row -->

    <!-- ACTION BAR switches -->
    <div class="navbar-custom-menu" ng-include="includeActionBar"></div>

</section>

<!-- Main content -->
<section class="content-node">
    <div class="box no-border" id="courseTabs">
        <div class="box-body no-border">

            <div ng-show="error">
                <error-block messages="error.errors"></error-block>
            </div>
            <!-- tabs left -->
            <div class="tabbable tabs-left" ng-class="{'hideOnError':error}">
                <% include nodeDetailLeftTab %>
                <!-- end tab menu -->

                <div class="tab-content">
                    <div class="tab-pane active" ng-class="currentTab" id="tabContent">
                        <div ng-include="include"></div>
                    </div>
                </div>

            </div>
            <!-- /tabs -->

        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- /.content -->

<!-- modal contents -->
<% include nodeDetailModal %>
<div ng-include="'/accounts/nodeloginform'"></div>
<!-- /.modal contents -->

<script>
    $(document).ready(function () {
        handleTab();

        if (location.hash !== '')
            $(document).scrollTop(0);

        //Get window height and the wrapper height
        var neg = $('.main-header').outerHeight() + $('.main-footer').outerHeight();
        var neg2 = $('.content-header').outerHeight();
        var window_height = $(window).height();
        //Set the min-height of the content and sidebar based on the
        //the height of the document.
        $(".content-wrapper #courseTabs").css('min-height', window_height - neg - neg2 - neg2);

        $('[data-tooltip="tooltip"]').tooltip();
    });
</script>