<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/courses/#/category/{{course.category.slug}}%>"> </i> {{course.category.name}}</a></li>
        <li class="active"><a href="#/cid/{{course._id}}?tab=preview">{{course.name}}</a></li>
    </ol>
</section>

<section class="content-header action-header red">
    <li class="visible-sm-inline-block visible-xs-inline-block draw-tab-button">
        <a class="cursor" onclick="toggleTabMenu()" style="color: white"><i class="ionicons ion-navicon-round"></i></a>
    </li>
    <!-- breadcrumb 2nd row -->
    <ol class="breadcrumb">
        <li class="home"><a href="#/cid/{{course._id}}?tab=map&center={{nodeId}}"> &leftarrow;Back &nbsp;&nbsp; {{course.name}}</a></li>
        <li><a href="#/cid/{{course._id}}?tab=map&center={{nodeId}}">Map</a></li>
        <li><a href="#/cid/{{course._id}}/nid/{{nodeId}}?tab={{defaultPath}}">{{treeNode.name}}</a></li>
        <li class="active">{{tabs[currentTab]}}</li>
    </ol>
    <!-- breadcrumb 2nd row -->

    <!-- ACTION BAR switches -->
    <div class="navbar-custom-menu" ng-show="currentTab=='preview' || currentTab=='pdf' || currentTab=='video'" ng-include
         src="'actionBar-node-preview'"></div>
    <div class="navbar-custom-menu" ng-show="currentTab=='analytics'" ng-include
         src="'actionBar-node-analytics'"></div>
    <div class="navbar-custom-menu" ng-show="currentTab=='updates'" ng-include
         src="'actionBar-node-updates'"></div>
    <div class="navbar-custom-menu" ng-show="currentTab=='links'" ng-include
         src="'actionBar-node-links'"></div>
    <!-- ACTION BAR switches -->

</section>

<!-- Main content -->
<section class="content-node">
    <div class="box no-border" id="courseTabs">
        <div class="box-body no-border">

            <!-- tabs left -->
            <div class="tabbable tabs-left">
                <% include nodeDetailLeftTab %>
                <!-- end tab menu -->

                <div class="tab-content">
                    <div class="tab-pane" id="video">
                        <% include nodeDetailContentPreview %>
                    </div>
                    <div class="tab-pane" id="pdf">
                        <% include nodeDetailContentPdf %>
                    </div>
                    <div class="tab-pane" id="updates">
                        <% include nodeDetailContentUpdates %>
                    </div>
                    <div class="tab-pane" id="links">
                        <% include ../links/links %>
                    </div>
                    <div class="tab-pane" id="analytics">
                        <% include nodeDetailContentNodeAnalytics %>
                    </div>
                </div>
            </div>
            <!-- /tabs -->

        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- /.content -->

<!-- modal contents -->
<% include nodeDetailModal %>
<!-- /.modal contents -->

<% include actionBarNode %>

<script>
    $(document).ready(function () {
        handleTab();

        if (location.hash !== '')
            $(document).scrollTop(0);

        //Get window height and the wrapper height
        var neg = $('.main-header').outerHeight() + $('.main-footer').outerHeight();
        var neg2= $('.content-header').outerHeight();
        var window_height = $(window).height();
        //Set the min-height of the content and sidebar based on the
        //the height of the document.
        $(".content-wrapper #courseTabs").css('min-height', window_height - neg - neg2 - neg2);
    });
</script>