<section class="content-header action-header red">
    <!-- breadcrumb 2nd row -->
    <ol class="breadcrumb">
        <li class="home"><a href="#/cid/{{course._id}}?tab=map&center={{nodeId}}"> &leftarrow;Back &nbsp;&nbsp; {{course.name}}</a></li>
        <li>Map</li>
        <li class="home">Content Node : <a href="#/cid/{{course._id}}/nid/{{nodeId}}?tab=preview">{{treeNode.name}}</a></li>
        <li class="active">{{tabs[currentTab]}}</li>
    </ol>
    <!-- breadcrumb 2nd row -->

    <!-- ACTION BAR switches -->
    <div class="navbar-custom-menu" ng-show="currentTab=='preview'" ng-include
         src="'actionBar-node-preview'"></div>
    <div class="navbar-custom-menu" ng-show="currentTab=='analytics'" ng-include
         src="'actionBar-node-analytics'"></div>
    <div class="navbar-custom-menu" ng-show="currentTab=='updates'" ng-include
         src="'actionBar-node-updates'"></div>
    <div class="navbar-custom-menu" ng-show="currentTab=='links'" ng-include
         src="'actionBar-node-links'"></div>
    <!-- ACTION BAR switches -->

</section>

<!-- Main content -->
<section class="content-node">
    <div class="box no-border" id="courseTabs">
        <div class="box-body no-border">

            <!-- tabs left -->
            <div class="tabbable tabs-left">
                <% include nodeDetailLeftTab %>
                <!-- end tab menu -->

                <div class="tab-content">
                    <div class="tab-pane active" id="preview">
                        <div class="col-xs-12 col-md-8">
                            <% include nodeDetailContentPreview %>
                        </div>
                    </div>
                    <div class="tab-pane" id="updates">
                        <% include nodeDetailContentUpdates %>
                    </div>
                    <div class="tab-pane" id="links">
                        <% include ../links/links %>
                    </div>
                    <div class="tab-pane" id="analytics">
                        <% include nodeDetailContentNodeAnalytics %>
                    </div>
                </div>
            </div>
            <!-- /tabs -->

        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- /.content -->

<!-- modal contents -->
<% include nodeDetailModal %>
<!-- /.modal contents -->

<% include actionBarNode %>

<script>
    $(document).ready(function () {
        handleTab();

        if (location.hash !== '')
            $(document).scrollTop(0);
    });
</script>