<link rel="stylesheet" type="text/css" href="/jquery-ui/themes/black-tie/jquery-ui.css">
<br/>
<div class="container">
    <section>
        <va-widget video-source="{{treeNode.resources[0].link}}" video-id="{{treeNode.resources[0]._id}}"></va-widget>
    </section>
</div>
