<link rel="stylesheet" type="text/css" href="/jquery-ui/themes/black-tie/jquery-ui.css">
<div class="col-xs-12 col-md-8">
    <div class="container" ng-cloak="isVideoExist" ng-show="!isVideoExist && !isPdfExist">
        There is no resources here.
    </div>
    <div class="container" ng-show="isVideoExist">
        <section>
            <va-widget video-source="{{treeNode.resources[0].link}}"
                       video-id="{{treeNode.resources[0]._id}}"></va-widget>
        </section>
    </div>
</div>
