<ul class="nav nav-tabs tabs-hide hidden-xs">
    <li class="active">
        <a href="#/cid/{{course._id}}/nid/{{nodeId}}?preview"
           data-toggle="tab" data-target="#preview">
            <i class="fa fa-file-pdf-o"></i>
            <i class="fa fa-file-video-o"></i><br>
            <span>Home</span></a></li>

    <li ng-show="enrolled || isOwner">
        <a href="#/cid/{{course._id}}/nid/{{nodeId}}?map"
           data-toggle="tab" data-target="#map">
            <i class="ionicons ion-map"></i>
            <span>Video Map</span></a></li>

    <li ng-show="enrolled || isOwner">
        <a href="#/cid/{{course._id}}/nid/{{nodeId}}?external-resources"
           data-toggle="tab" data-target="#external-resources">
            <i class="ionicons ion-link"></i>
            <span>External Resources</span></a></li>

    <li ng-show="enrolled || isOwner">
        <a href="#/cid/{{course._id}}/nid/{{nodeId}}?updates" ng-show="user"
           data-toggle="tab" data-target="#updates">
            <i class="ionicons ion-ios-time-outline"></i><br>
            <span>Updates</span></a></li>

    <li ng-show="enrolled || isOwner">
        <a href="#/cid/{{course._id}}/nid/{{nodeId}}?analytics" ng-show="user"
           data-toggle="tab" data-target="#analytics">
            <i class="ionicons ion-stats-bars"></i><br>
            <span>Analytics</span></a></li>
</ul>