
<!-- /.modal-content -->
<div id="rightClick" class="hide">
    <div class="closeMenu" onclick="Menu.closeMenu(null,null, function(){d3.select('image.iconMenu').classed('displayNone',false)})">
        <i class="ionicons ion-close-circled"></i>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-pills nav-stacked">
                    <li class="header rightMenu"></li>
                    <li><a href="javascript:;" ng-click="call('createSubTopic')"> Create Sub Topic </a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /.modal-content -->
