.countprint {
    height: 7px;
    width: 100%;
    position: relative;
}

.countprint span {
    display: none;
    background: #E6E6E6;
    border-radius: 3px;
    padding: 0 7px;
}

.countprint:hover span {
    display: block;
    position: fixed;
    cursor: default;
    overflow: hidden;
}