<div class="form-horizontal horizontal-max" ng-controller="ReviewPercentageController">
    <fieldset>
        <div class="form-group">
            <label for="inputReviewStartDate" class="col-sm-5 control-label">Student Review Percentage *</label>
            <div class="col-sm-3 form-inline">
                <input type="number" class="form-control original-form-control" name="inputStudentPercentage" id="inputStudentPercentage" ng-model="newAssignObj.reviewSettings.studentPercentage"> %
            </div>
        </div>
    </fieldset>
</div>