<div class="container-fluid" ng-controller="VideoTabController">
    <div ng-show="videoFile">
        <va-widget video-source="{{videoFile.link}}" video-id="{{videoFile._id}}"></va-widget>
    </div>
</div>
