<% include ../header %>

<div class="wrapper">
    <% include ../mainMenu %>
    <div class="content-wrapper">
        <div class="container">
            <% include search-form %>
        </div>
    </div>
</div>

<% include ../jsfooter %>
<% include ../footer %>