<div ng-controller="NewsfeedController">
    <div class="row">
        <div class="col-md-8" id="newsfeedList" style="max-height: 500px; overflow: auto">

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Newsfeed Activity</th>
                </tr>
                <tr ng-repeat="nfData in newsfeedData | orderBy: '-dateAdded'">
                    <td><b>{{nfData.userId.displayName}}</b> <span ng-show="'{{nfData.actionSubject}}' != 'cancel vote'">{{nfData.actionType}}</span> {{nfData.actionSubject}}<span ng-show="'{{nfData.actionType}}' == 'added'"> in </span> <b>{{nfData.actionName}}</b> -- <i>{{nfData.dateAdded | relativeDate}}</i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>