<!-- course edit form -->
<div class="row">
    <div class="modal" id="addNewTopic" tabindex="-1" role="dialog"
         aria-labelledby="Add New Topic" aria-hidden="true">
        <section class="content">
            <div class="row row-centered">
                <div class="col-xs-12 col-lg-8 col-md-8 col-sm-8 col col-centered">
                    <div class="widget-item box no-border no-round">
                        <div class="box-header with-border">
                            <h3 class="box-title">Add A New Topic</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                        <div class="box-body">

                            <br class="clear" />
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>