
<div  ng-controller="DiscussionController">
    <div class="row">
        <div class="col-md-5" id="topicLists">

        </div>
        <div class="col-md-6" id="topicContents">
            <div ng-show=""></div>
        </div>
    </div>
</div>

<% include addNewTopicModal %>