<!-- Add link model-->
<div id="postEdit">

    <div class="modal-header">
        <h3 class="modal-title" id="addlinktitle">Edit Post</h3>
    </div>
    <!-- End of modal header-->
    <div class="modal-body">
        <!-- form for editing the data-->
        <form name="editPostData">
            <!-- title -->
            <div id="title-group" class="form-group"
                 ng-class="{'has-error':(editPostData.title.$invalid || editPostData.title.$error.minlength)}">
                <label for="title">Title*</label>
                <textarea rows="3" name="title" id="title" class="form-control" placeholder="title"
                          ng-model="vm.post.title" ng-required="true" ng-minlength="10" required></textarea>
                <span ng-show="editPostData.title.$invalid && !editPostData.title.$pristine && editPostData.title.$error.minlength"
                      class="help-block">Title too short</span>
            </div>
            <div id="description-group" class="form-group"  ng-hide= "vm.post.description == null ? true : false"
                 ng-class="{'has-error':vm.post.description == null ? false :(editPostData.description.$invalid) || editPostData.description.$error.minlength}">
                <label for="description">Description*</label>
                <textarea name="description" rows="3" name="description" id="description" class="form-control"
                          placeholder="description" ng-model="vm.post.description" ng-required="vm.post.description == null ? false : true"
                          ng-minlength="100" required></textarea>
                <span ng-show="editPostData.description.$error.minlength"
                      class="help-block">Description is too short</span>
            </div>
            <!-- Tags -->
            <div id="tag-group" class="form-group">
                <label>Tags</label>
                <tags-input name="tags" ng-model="vm.post.tags" replace-spaces-with-dashes="false" class="ti-input-sm"
                            placeholder="Tags"></tags-input>
                <span class="help-block"></span>
            </div>
            <!-- Aggregate Data submit-->
            <button ng-click="vm.confirmEdit(vm.post)" class="btn btn-primary" ng-disabled="editPostData.$invalid">Save</button>
            <span>
                <button ng-click="vm.cancelEdit()" class="btn btn-primary">Cancel</button>
            </span>
        </form>
    </div>
</div>