<div class="{{'box box-default pdf-box' + (vm.highlight == vm.post.postId ? ' ext-res-highlight':'')}}">
    <div class="box-header pdf-header">
        <div class="row">
            <div class="col-xs-1 text-center icon pdf-icon"><i class="fa   fa-file-pdf-o fa-2x"></i></div>
            <div class="col-xs-8 title-text">
                <span>{{vm.post.title}}</span>
            </div>
            <div class="col-xs-3">
                    <span class="card-action pull-right">
                   <i class="fa fav-icon fa-star-o"
                      ng-click="vm.togglePersonal(vm.post)"
                      ng-show="!vm.pa"
                      uib-tooltip="Add this to personal space"
                      style="color:gold"></i>
                        <i class="fa fav-icon fa-star"
                           ng-click="vm.togglePersonal(vm.post)"
                           ng-show="vm.pa"
                           uib-tooltip="Remove this from personal space"
                           style="color:gold"></i>
                        <i class="fa fa-pencil-square-o edit-icon"
                           uib-tooltip="Edit this"
                           ng-show="vm.owner" ng-click="vm.edit(vm.post)"></i>
                        <i class="fa fa-times delete-icon" ng-show="vm.owner"
                           uib-tooltip="Delete this"
                           ng-click="vm.delete(vm.post)"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="box-body pdf-body">
        <div class="row">
            <div class="col-xs-1" ng-show="!vm.space">
                <voting vote-type="external resource" vote-type-id={{vm.post.postId}} vote-value="" ng-show="!pa"></voting>
            </div>
            <div class="col-xs-11 text-center pdf-wrapper">
                <iframe src="{{vm.post.url | trustUrl}}" scrolling="no" frameborder="0" width="100%" height="500" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="col-xs-11">
                <span ng-repeat="tag in vm.post.tags" class=" tag label-primary">{{tag["text"] || tag }}</span>
            </div>
        </div>
    </div>
    <div class="box-footer" ng-show="!vm.space">
        <a ng-click="toggle = !toggle">
            <span ng-if="vm.post.comments.length == 0">No Comments</span>
            <span ng-if="vm.post.comments.length > 0">{{vm.post.comments.length == 1 ? vm.post.comments.length + " Comment" :
                vm.post.comments.length + " Comments"}}</span>
        </a>
        <div  id="{{'c'+vm.post.postId}}" ng-show="toggle">
            <article>
                <br/>
                <div id="comment-box" class="input-group input-group-sm">
                    <input class="form-control" placeholder="Write a comment..." type="text" ng-model="vm.commentText">
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-flat" type="submit" ng-click="vm.postComment(vm.post)">Comment</button>
                    </span>
                </div>
                <br/>
                <section ng-repeat="comment in vm.post.comments.slice().reverse()">
                    <div class="box box-solid" style="background: rgba(0, 0, 255, 0.05)">
                        <div class="box-body">
                            <span class="posted-at">
                              Posted <strong>{{comment.dateAdded | relativeDate}}</strong>
                              By <strong><span>{{comment.authorDisplayName||comment.author}}</span></strong>
                            </span>
                            <a class="pull-right" style="cursor: pointer;" ng-show="comment.canEdit"
                               ng-click="vm.removeComment(comment._id)">X</a>
                            <p class="reply">{{comment.text}}</p>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</div>
