<div class="grid-stack-item-content">
    <div class="box no-shadow">
        <div class="box-header with-border">
            <h3 class="box-title">{{wdg.widget}}</h3>

            <div class="box-tools pull-right" ng-show="checkOwnership(wdg.userId)">
                <button class="btn btn-box-tool" data-widget="remove"
                        data-toggle="tooltip" title="Remove"
                        ng-click="closeWidget(wdg._id);">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body-widget">

            <div ng-include src="wdg.widgetId.entryPoint"
                 onload="initWidgetButton(wdg._id)">
            </div>

        </div>
        <div class="box-footer"></div>
    </div>
</div>