<div class="box box-solid">
    <div class="box-body" ng-show="!source.isEditMode">
        <p>
            <span>[{{source.start | msToTime}} - {{source.end | msToTime}}]</span>
            <span class="posted-at">
                      Posted <strong>{{source.date_created | relativeDate}}</strong>
                      By <strong>{{source.author}}</strong>
                </span>
        </p>
        <p id="annotation-text" ng-click="$parent.seekPosition(source)">{{source.text}}</p>
    </div>
    <div class="box-body form-group" ng-show="source.isEditMode">
        <textarea placeholder="Start annotating..." class="form-control" rows="3" id="va-text" type="text" ng-model="source.text"></textarea>
        <br/>
        <select class="form-control" ng-model="source.type">
            <option ng-selected="type.id===source.type" ng-repeat="type in annotationTypes" value="{{type.id}}">
                {{type.name}}
            </option>
        </select>
        <br/>
        <label class="control-label" for="va-start">Start:</label>
        <timepicker id="va-start" ng-model="source.start"></timepicker>
        <label class="control-label" for="va-end">End:</label>
        <timepicker id="va-end" ng-model="source.end"></timepicker>
        <br/>
    </div>
    <div class="box-footer">
        <div>
            <div class="pull-left" ng-hide="source.isEditMode">
                <a ng-click="toggle = !toggle">{{!toggle ? source.comments.length + ' comment(s)' : 'hide comments'}}</a>
            </div>
            <div class="pull-right" ng-show="source.isAuthor && !source.isEditMode">
                <a class="btn btn-primary btn-xs" ng-click="editAnnotation()">EDIT</a>
                <a class="btn btn-danger btn-xs" ng-click="deleteAnnotation()">DELETE</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-show="source.isEditMode">
            <a class="btn btn-primary btn-xs" ng-click="saveAnnotation()">SAVE</a>
            <a ng-hide="source.isDefault" ng-click="closeAnnotation()" class="btn btn-danger btn-xs">CLOSE</a>
            <a ng-show="source.isDefault" ng-click="cancelAnnotation()" class="btn btn-danger btn-xs">CANCEL</a>
        </div>
        <div ng-hide="source.isEditMode" id="comments">
            <article ng-show="toggle">
                <br/>
                <div id="comment-box" class="input-group input-group-sm">
                    <input class="form-control" placeholder="Write a comment..." type="text" ng-model="commentText">
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-flat" type="submit" ng-click="postComment()">REPLY</button>
                    </span>
                </div>
                <br/>
                <section ng-repeat="comment in source.comments.slice().reverse()">
                    <div class="box box-solid" style="background: rgba(0, 0, 255, 0.05)">
                        <div class="box-body">
                            <span class="posted-at">
                              Posted <strong>{{comment.date_created | relativeDate}}</strong>
                              By <strong><span>{{comment.author}}</span></strong>
                            </span>
                            <a class="pull-right" style="cursor: pointer;" ng-show="comment.isAuthor" ng-click="removeComment(comment._id)">X</a>
                            <p class="reply">{{comment.text}}</p>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</div>
