<div class="box box-solid">
    <div class="box-body" ng-show="!source.isEditMode">
        <div class="row">
            <div class="col-xs-10">
                <span class="posted-at">
                      Posted <strong>{{source.date_created | relativeDate}}</strong>
                      By <strong>{{source.author}}</strong>
                </span>
                <p id="annotation-text" ng-click="$parent.seekPosition(source)">{{source.text}}</p>
            </div>
            <voting class="col-xs-1" vote-type="videoAnnotation" vote-type-id="{{source._id}}"></voting>
        </div>
    </div>
    <div class="box-body form-group" ng-show="source.isEditMode">
        <textarea placeholder="Start annotating..." class="form-control" rows="3" id="va-text" type="text"
                  ng-model="source.text"></textarea>
        <br/>
        <select class="form-control" ng-model="source.type">
            <option ng-selected="type.id===source.type" ng-repeat="type in annotationTypes" value="{{type.id}}">
                {{type.name}}
            </option>
        </select>
        <br/>

        <label class="control-label" for="va-start">Start:</label>
        <timepicker id="va-start" ng-model="source.start"></timepicker>
        <label class="control-label" for="va-end">End:</label>
        <timepicker id="va-end" ng-model="source.end"></timepicker>
        <br/>
    </div>
    <div class="box-footer">
        <div ng-show="source.isAuthor && !source.isEditMode" class="replyControl">
            <div class="editReplyButton">
                <a ng-click="editAnnotation()" class="btn btn-primary btn-xs">EDIT</a>
            </div>
            <div class="deleteReplyButton">
                <a ng-click="deleteAnnotation()" class="btn btn-danger btn-xs">DELETE</a>
            </div>
        </div>
        <div class="replyControl" ng-show="source.isEditMode">
            <div class="editReplyButton">
                <a class="btn btn-primary btn-xs" ng-click="saveAnnotation()">SAVE</a>
            </div>
            <div class="deleteReplyButton" ng-hide="source.isDefault">
                <a ng-click="closeAnnotation()" class="btn btn-danger btn-xs">CLOSE</a>
            </div>
            <div class="deleteReplyButton" ng-show="source.isDefault">
                <a ng-click="cancelAnnotation()" class="btn btn-danger btn-xs">CANCEL</a>
            </div>
        </div>
        <div ng-hide="source.isEditMode" id="comments">
            <a ng-click="toggle = !toggle">{{!toggle ? 'show comments' : 'hide comments'}}</a>
            <article ng-show="toggle">
                <div id="comment-box">
                    <input placeholder="Write a comment..." type="text" ng-model="commentText">
                    <button class="btn btn-primary btn-xs" type="submit" ng-click="postComment()">reply</button>
                </div>
                <section ng-repeat="comment in source.comments.slice().reverse()">
                    <div class="box box-solid">
                        <div class="box-body">
                            <span class="posted-at">
                              Posted <strong>{{comment.date_created | relativeDate}}</strong>
                              By <strong><span>{{comment.author}}</span></strong>
                            </span>

                            <p class="reply">{{comment.text}}</p>
                        </div>
                        <div class="box-footer">
                            <div class="replyControl">
                                <a style="cursor: pointer;" ng-show="comment.isAuthor"
                                   ng-click="removeComment(comment._id)" title="delete"
                                   class="btn btn-danger btn-xs">DELETE</a>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</div>