<h3>{{app.name}}</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box-body no-border">
            <form role="form" ng-submit="editApp(editAppForm.$valid)" name="editAppForm" novalidate>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">Application Name</label>

                        <p class="help-block">Application name can contain any letters or numbers</p>

                        <div class="controls"
                             ng-class="{ 'has-error' : editAppForm.name.$invalid && !editAppForm.$pristine }">
                            <input type="text" id="name" name="name" placeholder="" class="form-control"
                                   ng-model="app.name" required ng-required="true"
                                   ng-minlength="3">

                            <p ng-show="editAppForm.name.$invalid && !editAppForm.$pristine"
                               class="help-block">Application name is required.</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <p></p>
                        <label class="control-label" for="description">Description</label>

                        <p class="help-block">This description will be displayed on the permission window when a user is
                            logging in through this Application.</p>

                        <div class="controls"
                             ng-class="{ 'has-error' : editAppForm.description.$invalid && !editAppForm.$pristine }">

                            <input type="text" id="description" name="description" placeholder="" class="form-control"
                                   ng-model="app.description" required ng-required="true"
                                   ng-minlength="6">

                            <p ng-show="editAppForm.description.$invalid && !editAppForm.$pristine"
                               class="help-block">Please fill in a little bit of description about this
                                Application.</p>

                        </div>
                    </div>

                    <div class="control-group">
                        <p></p>
                        <label class="control-label" for="callback">Callback URL</label>

                        <p class="help-block">URL that will be redirected to once user has successfully logged in.
                            Please avoid adding forward slash at the end of the URL</p>

                        <div class="controls"
                             ng-class="{ 'has-error' : editAppForm.callback.$invalid && !editAppForm.$pristine }">

                            <input type="url" id="callback" name="callback" placeholder="https://" class="form-control"
                                   ng-model="app.callbackUrl"
                                   ng-minlength="6">

                            <p ng-show="editAppForm.callback.$error.url && !editAppForm.$pristine"
                               class="help-block">Not a valid url!</p>

                        </div>
                    </div>

                    <div class="control-group">
                        <p class="help-block"></p>

                        <br class="clear">

                        <error-block ng-show="errors.length > 0" messages="errors"></error-block>
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-md btn-primary"
                                    ng-click="editAppForm.$pristine=false">Save
                                <spinner show="isLoading"></spinner>
                            </button>

                            <button type="button" class="btn btn btn-warning"
                                    data-dismiss="modal" aria-label="Cancel" ng-click="cancel()">
                                Cancel
                            </button>

                            <button type="button" class="btn btn btn-danger" style="float: right;"
                                    data-dismiss="modal" aria-label="Delete" ng-click="deleteApp()">
                                Delete Application
                                <spinner show="isLoadingDelete"></spinner>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<hr>
<h3>App Detail</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box-body no-border">
            <form>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">App Secret</label>

                        <p class="help-block">Never put this secret in public accessible location.</p>

                        <div class="controls">
                            <input type="text" id="name" name="name" placeholder="" class="form-control"
                                   ng-model="app.clientSecret" readonly>
                        </div>
                    </div>

                    <div class="control-group">
                        <p></p>
                        <label class="control-label" for="description">App Id</label>

                        <p class="help-block">The ID needed as identifier of your app.</p>

                        <div class="controls">

                            <input type="text" id="appId" name="appId" placeholder="" class="form-control"
                                   ng-model="app.clientId" readonly>

                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</div>