.tab-content{
    overflow: hidden;
}
.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#rightClick li.header{
    margin-bottom:0px;
    background: #3C8DBC;
    height:5px!important;
    padding: 0px;
}

#rightClick .hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: none;
}
.displayNone {
    display: none;
}
#rightClick .show {
    display: block;
}

#rightClick {
    position: absolute;
    width: 150px;
    z-index:988;
    margin-top: -150px;
    margin-left: -25px;
    padding-top:155px;
    background: transparent;
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

.closeMenu{
    position: relative;
    top:-150px;
    font-size:18px;
    left:30px;
}

#rightClick > .modal-dialog {
    width: 100% !important;
    margin: 0px;
}

#rightClick .modal-body {
    padding: 0px !important;
}

.linkingVideo, .linkingPdf {
    position: relative;
    width: 120px;
    height: 120px;
    cursor: pointer;
    cursor: hand;
}

.video1 {
    left: 585px;
    top: 350px;
    display: block;
}

.back1 {
    left: 185px;
    top: 300px;
    display: block;
}

.back2 {
    left: 85px;
    top: 149px;
    width: 89px;
    display: block;
    height: 89px;
}

.pdf1, .pdf2, .pdf3, .pdf4 {
    display: block;
    position: relative;
    width: 180px;
    height: 50px;
}

.pdf1 {
    left: 355px;
    top: 140px;
}

.pdf2 {
    left: 522px;
    top: 320px;
}

.pdf3 {
    left: 522px;
    top: 328px;
}

.pdf4 {
    left: 330px;
    top: 300px;
}

.videoPopUp{
    left: 370px;
    top: -35px;
    width: 800px;
    height: 500px;
    z-index: 10;
    display: block;
}
div#tree{
    padding:0px;
    margin-left: 15px;
    overflow: hidden;
}
.mainTopic{
    fill:white;
    stroke: steelblue;
    stroke-width: 4px;
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

.treeRoot{
    border:1px solid blue;
    fill:#ECF0F5;
}

.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}