<% include header %>
<div class="wrapper">
    <!-- Header Navbar -->
    <% include ../admin-lte/mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <ol class ="breadcrumb">
                <li><a href="/"><iclass="fa fa-home"></i> Home</a></li>
                <li class ="active"> Slides ></li>
            </ol>
            <h1>
                Slides
            </h1>
        </section>
        <section class="content">
          <div class="row">
            <div class= "col-sm-12 col-md-12">
              <div class="col-sm-8 col-md-8">
                <div class="box">
                  <div class="box-body with-border">
                    <h3 class="">Slides</h3>
                    <div class="pannel box box-primary">
                      <div class= "slide-wrapper">
                        test
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="box">
                  <div class="box-body with-border">
                    <h3 class="">Comments</h3>
                    <div class="pannel box box-primary">
                      <div class= "annotation-wrapper">
                        <form action='/slide-viewer' method="POST">
                          <fieldset>
                             <div class="control-group">
                               <label for="rawText">rawText</label>
                               <div class="controls">
                                 <input type="text" class="form-control" id="rawText" name="rawText" placeholder="rawText">
                               </div>
                             </div>
                             <div class="control-group">
                               <label for="author">author</label>
                               <div class="controls">
                                 <input type="text" class="form-control" id="author" name="author" placeholder="author">
                               </div>
                             </div>
                             <div class="control-group">
                               <label for="originSlide">originSlide</label>
                               <div class="controls">
                                 <input type="number" class="form-control" id="originSlide" name="originSlide" placeholder="originSlide">
                               </div>
                             </div>
                             <div class="control-group">
                               <div class="controls">
                                 <button type="submit" class="btn btn-default">Submit</button>
                               </div>
                             </div>
                           </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Main content -->
        <!--<section class="content">
          <div class="row">
            <div class= "col-sm-12 col-md-12">
                <div class="col-sm-8 col-md-8">
                  <div class= "debug box box-solid slide-wrapper"></div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class= "debug box box-solid annotation-wrapper">
                    <form>
                      <div class="form-group">
                        <label for="rawText">rawText</label>
                        <input type="rawText" class="form-control" id="rawText" placeholder="rawText">
                      </div>
                      <div class="form-group">
                        <label for="author">author</label>
                        <input type="author" class="form-control" id="author" placeholder="author">
                      </div>
                      <div class="form-group">
                        <label for="originSlide">originSlide</label>
                        <input type="originSlide" class="form-control" id="originSlide" placeholder="originSlide">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>


                  </div>
                </div>
            </div>
          </div>
        </section>-->

    </div>
</div><!-- ./wrapper -->
<% include ../admin-lte/jsfooter %>

<script src="/jquery/jquery-ui.min.js"></script>
<script src="/gridstack/lodash.min.js"></script>
<script src="/gridstack/gridstack.js"></script>
