<% include header %>
<div class="wrapper">
    <!-- Header Navbar -->
    <% include ../admin-lte/mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <ol class ="breadcrumb">
                <li><a href="/"><iclass="fa fa-home"></i> Home</a></li>
                <li class ="active"> Slides ></li>
            </ol>
            <h1>
                Slides
            </h1>
        </section>
        <!-- Main content -->
        <section class="content" ng-controller="widgetController">
          <div class= "col-sm-12 col-md-12">
              <div class= "debug slide-wrapper"></div>
              <div class= "debug annotation-wrapper"></div>
          </div>  
        </section>

    </div>
</div><!-- ./wrapper -->
<% include ../admin-lte/jsfooter %>

<script src="/jquery/jquery-ui.min.js"></script>
<script src="/gridstack/lodash.min.js"></script>
<script src="/gridstack/gridstack.js"></script>
