<div class="box box-solid">

    <div class="box-body">
        <div class="privacy-icon" ng-show="showEditButton">
            <i class="fa fa-lock private" ng-show="isPrivate === true"></i>
            <i class="fa fa-unlock public" ng-show="isPrivate !== true"></i>
        </div>
        <span class="posted-at">
      Posted <strong>{{postedDate | relativeDate}}</strong>
      By <strong>
          <a class="cursor"
             ng-show="authorClickable"
             ng-click="authorClickAction()">{{postedBy}}</a>
          <span ng-hide="authorClickable">{{postedBy}}</span>
      </strong>
      </span>
        <p class="reply" ng-bind-html="postContent | unsafe"></p>
    </div>

    <div class="box-footer" ng-show="showControl" style="display: flow-root;">
        <div style="display: flow-root">
            <div class="pull-left" ng-hide="source.isEditMode">
                <a class="cursor" ng-show="showCommentingArea" ng-click="toggle = !toggle">
                    {{!toggle ? ((comments === undefined || comments === null) ? 0 : comments.length) + ' comment(s)' : 'hide
                    comments'}}
                </a>
            </div>
            <div class="replyControl pull-right"
                 ng-show="!isDeleted">
                <div class="replyButton">
                    <a ng-show="showReplyButton" title="Reply" ng-click="replyAction()"
                       class="btn btn-primary btn-xs cursor"> REPLY
                    </a>
                </div>

                <div class="editReplyButton">
                    <a ng-show="showEditButton" title="Edit" ng-click="editAction()" class="btn btn-primary btn-xs">
                        EDIT</a>
                </div>

                <div class="deleteReplyButton">
                    <a ng-show="showDeleteButton"
                       ng-click="deleteAction()"
                       title="delete"
                       class="cursor btn btn-danger btn-xs">DELETE</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <article ng-show="toggle && showCommentingArea">
            <br/>
            <div id="comment-box">
                <div class="input-group input-group-sm">
                    <input placeholder="Write a comment..." type="text" ng-model="commentText" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-flat" type="submit" ng-click="postComment()">REPLY</button>
                    </span>
                </div>
            </div>
            <br>

            <section ng-repeat="comment in comments">
                <div class="box box-solid" style="background: rgba(0, 0, 255, 0.05)">
                    <div class="box-body">
                            <span class="posted-at">
                              Posted <strong>{{comment.date | relativeDate}}</strong>
                              By <strong><span>{{comment.author}}</span></strong>
                            </span>
                        <a class="pull-right" style="cursor: pointer;" ng-show="(comment.isAuthor || isAdmin)"
                           title="delete" ng-click="removeComment(comment._id)">X</a>

                        <p class="reply" ng-bind-html="comment.html | unsafe"></p>
                    </div>
                    <!--rgba(0, 0, 255, 0.05)-->
                </div>
            </section>
        </article>
    </div>
</div>
