<ul ng-controller="PeerAssessmentController">
    <li ng-show="isOwner || isManager || isAdmin">
        <a style="cursor: pointer;"
           data-toggle="modal" data-target="#addNewTopicModal"
           title="Add New Topic" onclick="alert('hello')">
            <i class="ionicons ion-android-add"></i> &nbsp; NEW PEER REVIEW</a>
    </li>
</ul>