<ul ng-controller="PeerAssessmentController">
    <li ng-show="isOwner || isManager || isAdmin">
        <a style="cursor: pointer;"
           data-toggle="modal" data-target="#addNewAssignmentModal"
           title="New Peer Review">
            <i class="ionicons ion-android-add"></i> &nbsp; NEW PEER REVIEW</a>
    </li>
</ul>