<div ng-controller="SolutionsController">
    <div class="col-md-11">
        <div ng-show="!solutions || solutions.length == 0">
            <h5>No Solutions submitted for this course yet</h5>
        </div>
        <table class="table table-hover" ng-show="solutions.length > 0">
            <thead>
            <tr>
                <th>Title</th>
                <th>Review Task Title</th>
                <th>Student(s)</th>
                <th ng-show="isOwner || isManager || isAdmin"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="solution in solutions" ng-click="viewSolution(solution)">
                <td>{{solution.title}}</td>
                <td>{{solution.peerReviewTitle}}</td>
                <td>{{solution.studentName}}</td>
                <td ng-show="isOwner || isManager || isAdmin">
                    <!--<a href="" ng-click="openEditConfirmationModal(review, $event)"> <i class="ion-edit" style="font-size: medium"></i> </a> &nbsp;-->
                    <a href="" ng-click="openDeleteSolutionConfirmationModal(solution._id, $event)"> <i class="ion-ios-trash" style="font-size: large"></i> </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>