<div class="form-horizontal horizontal-max" ng-controller="RubricController">
    <fieldset>
        <div class="form-group">
            <label class="col-sm-5 control-label">Review Rubrics</label>
            <div class="col-sm-7">
                <button class="ion-plus-round btn btn-sm btn-default" ng-click="openRubric()"> New Review Rubric</button> <br>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label"></label>
            <div class="col-sm-7">
                <div class="checkbox" ng-repeat="r in rubrics">
                    <label data-toggle="tooltip" title="{{r.description}}"><input type="checkbox" value="{{r._id}}" ng-checked="newAssignObj.reviewSettings.rubrics.indexOf(r._id) > -1" ng-click="toggleSelection(r._id)">{{r.title}}</label>
                </div>
            </div>
        </div>
    </fieldset>
</div>