<ul class="analyticsActionBar">
    <li ng-show="isOwner || isManager || isAdmin">
        <a style="cursor: pointer;"
           data-toggle="modal" data-target="#widgetGalleryAnalytics"
           title="Add or remove preview widgets">
            <i class="ionicons ion-android-apps"></i> &nbsp; WIDGETS STORE</a>
    </li>
</ul>