<% include header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="background-size:cover;background: url(img/bg.jpg) no-repeat center;">
        <!-- Main content -->
        <section class="content">

            <div class="container">
                <div class="row ">
                    <div class="col-md-9" style="opacity: 0.9;padding:40px;margin-top:20px;background: white">
                        <h1><i class="ion-information-circled"></i> &nbsp;&nbsp;We are still developing</h1>

                        <br/>
                        <p class="lead">With not just many missing links are expected to be found, but also
                            non-functional
                            buttons and interfaces.<br/>
                            Please be aware that we are still studying our usabilities, while also implementing
                            features.
                        </p>

                        <p class="lead">
                            If you arrived at this page, that means you are participating in our early access program
                            for our
                            requirement and usabilities studies.
                            <br/>

                        </p>

                        <p class="lead">
                            We thank you for your participations.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->
<% include jsfooter %>
<% include footer %>