<!-- Main Footer -->
<!--<footer class="main-footer">
    <strong>Copyright &copy; 2015 <a href="#">i9</a>. </strong> All rights reserved.

    <a href="/static/#/about"  ><i class="ion-information-circled"></i>  </a>
</footer>-->
</body>
</html>
