<% include header %>
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo"><b>Course</b>Mapper</a>

    <!-- Header Navbar -->
    <% include mainMenu %>
  </header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content" id="tree">
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

</div><!-- ./wrapper -->
<% include footer %>