<% include header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-controller="HomePageController">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li >Browse Categories</li>
            </ol>
        </section>

        <!--<div ngCloak ng-hide="hideSlider" class="row row-centered" style="display: none;" >-->
        <div class="row row-centered" style="display: none;" >
            <div class="col-lg-12 col-centered">

                <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-generic" data-slide-to="1" class=""></li>
                    </ol>

                    <a class="btn btn-block btn-primary btn-flat btn-slide hidden-xs" ng-click="setHideSlider()">Let's Start!</a>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/img/sliders/slider_3.png" alt="">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/sliders/slider_3.png" alt="">

                            <div class="carousel-caption">

                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
                <a class="btn btn-block btn-primary btn-flat visible-xs">Start a course map!</a>
            </div>
        </div>
        <!-- Main content -->

        <script type="text/ng-template"  id="tree_item_renderer.html">
                <div class="w" id="{{data.slug}}" data-shape="Rectangle" ng-style="{left:data.fromCenter.x + center.x, top:data.fromCenter.y+center.y}" data-toggle="dropdown" data-hover="dropdown">

                    {{data.category}} <!--<b class="caret"></b>-->

                        <ul class="dropdown-menu box box-primary category">
                            <li><b>{{data.category}}</b></li>
                            <li class="divider"></li>
                            <li> total 10 courses </li>
                            <li> total 250 nodes </li>
                            <li><h5><b>Top Courses</b></h5></li>
                            <li><a tabindex="-1" href="#">a</a></li>
                            <li><a tabindex="-1" href="#">b</a></li>
                            <li><a tabindex="-1" href="#">c</a></li>
                            <li class="divider"></li>
                            <li>
                                <button class="btn btn-block btn-primary btn-sm" ng-click="goToDetail(data.slug)">Browse Courses</button>
                            </li>
                        </ul>

                    </div>
                </div>

            <div ng-repeat="data in data.subCategories" ng-include="'tree_item_renderer.html'" >
            </div>
        </script>

        <section class="content">

            <div class="container">
                <div class="category-map" id="category-map" >

                    <div ng-repeat="data in categories" ng-include="'tree_item_renderer.html'" on-finish-render="jsTreeInit">
                    </div>

                    <div class="center-category" id="center" data-shape="Rectangle" ng-style="{left:center.x, top:center.y}">
                        <h4>CourseMapper</h4>
                        is a mind map based collaborative course annotation platform.
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->
<% include jsfooter %>
<% include footer %>
<!--
<script>
    {
        categories: [
            {
                _id: "5530bf0ee5a9e0dd261059b9",
                updatedAt: "2015-04-17T08:06:38.549Z",
                slug: "Math",
                category: "Math",
                parentCategory: null,
                __v: 0,
                tags: [ ],
                subCategories: [
                    {
                        _id: "5565966edfccccb85c3b22f8",
                        updatedAt: "2015-05-27T10:03:26.419Z",
                        slug: "test",
                        category: "test",
                        parentCategory: "5530bf0ee5a9e0dd261059b9",
                        __v: 0,
                        tags: [ ],
                        subCategories: [ ]
                    }
                ]
            },
            {
                _id: "5530bf15e5a9e0dd261059ba",
                updatedAt: "2015-04-17T08:06:45.274Z",
                slug: "IT",
                category: "I.T",
                parentCategory: null,
                __v: 0,
                tags: [
                    "5530c18029d64f5129d44c3d",
                    "5530c18a29d64f5129d44c3e",
                    "5530c19629d64f5129d44c3f"
                ],
                subCategories: [ ]
            }
        ]
    }
</script>-->
