<% include header %>
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo"><b>Course</b>Mapper</a>

    <!-- Header Navbar -->
    <% include mainMenu %>
  </header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">


    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->

    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      &nbsp;
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2015 <a href="#">i9</a>.</strong> All rights reserved.
  </footer>

</div><!-- ./wrapper -->
<% include footer %>
