<% include header %>
<div class="wrapper">

  <!-- Header Navbar -->
  <% include mainMenu %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

</div><!-- ./wrapper -->
<% include jsfooter %>
<% include footer %>