<% if(
        (typeof isInIframe != 'undefined' && typeof course != 'undefined'
        && isInIframe && course && course.settings && course.settings['disableTop']) ||
        (
        typeof isInIframe != 'undefined' && typeof treeNode != 'undefined'
        && isInIframe && treeNode && treeNode.settings && treeNode.settings['disableTop'])
){ %>
<div ng-controller="MainMenuController">
</div>
<% } else { %>
<!-- Main Header -->
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo"><span style="margin-left: 25px;"><b>Course</b>Mapper</span></a>

    <nav class="navbar navbar-static-top" role="navigation" ng-controller="MainMenuController">

        <form ng-submit="openAdvancedSearch()" class="navbar-form navbar-left search-box hidden-xs" role="search" ng-controller="SearchBoxController" >
            <div class="input-group search">
                <input class="form-control" id="navbar-search-input" type="text" placeholder="Search" autocomplete="off"
                       ng-model="queryText" ng-model-options="{debounce: 200}">

                <div class="results dropdown-menu" ng-show="showQuickSearchResults()">
                    <div class="results-box">

                        <span ng-show="hasResults() === false">
                            No results found.
                            <br/>Please, try a different search term.
                        </span>

                        <div ng-show="result.contentNodes.length > 0">
                            <h5>Content:</h5>
                            <ul class="list-unstyled">
                                <li ng-repeat="content in result.contentNodes">
                                    <a ng-if="content.type=='contentNode'"
                                       href="/treeNode/{{content._id}}/#/cid/{{content.courseId._id}}/nid/{{content._id}}">
                                        [{{content.courseId.name}}] {{content.name | cut:true:30:' ...'}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="result.contentNodes.length > 0">
                            <h5>Topics:</h5>
                            <ul class="list-unstyled">
                                <li ng-repeat="content in result.contentNodes">
                                    <a ng-if="content.type=='subTopic'"
                                       href="/course/{{content.courseId.slug}}/#/cid/{{content.courseId._id}}?tab=map&markedNode={{content._id}}">
                                        [{{content.courseId.name}}] {{content.name | cut:true:30:' ...'}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="result.courses.length > 0">
                            <h5>Courses:</h5>
                            <ul class="list-unstyled">
                                <li ng-repeat="course in result.courses">
                                    <a href="/course/{{course.slug}}/#/cid/{{course._id}}?tab=preview">
                                        {{course.name | cut:true:30:' ...'}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="result.videoAnnotations.length > 0">
                            <h5>Video Annotations:</h5>
                            <ul class="list-unstyled">
                                <li ng-repeat="va in result.videoAnnotations">
                                    <a href="/treeNode/{{va.nodeId}}/#/cid/{{va.courseId}}/nid/{{va.nodeId}}?tab=video#{{va._id}}">
                                        {{va.text | cut:true:30:' ...'}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="result.pdfAnnotations.length > 0">
                            <h5>PDF Annotations:</h5>
                            <ul class="list-unstyled">
                                <li ng-repeat="pa in result.pdfAnnotations">
                                    <a href="/treeNode/{{pa.nodeId}}/#/cid/{{pa.courseId}}/nid/{{pa.nodeId}}?tab=pdf&slidePage={{pa.pdfPageNumber}}">
                                        {{pa.rawText | htmlToPlaintext | cut:true:30:' ...'}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="result.categories.length > 0">
                            <h5>Categories:</h5>
                            <ul class="list-unstyled">
                                <li ng-repeat="category in result.categories">
                                    <a href="/courses/#/category/{{category.slug}}">
                                        {{category.name | cut:true:30:' ...'}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="result.extResources.length > 0">
                            <h5>External Resources:</h5>
                            <ul class="list-unstyled">
                                <li ng-repeat="extRes in result.extResources">
                                    <a href="/treeNode/{{extRes.contentId}}/#/cid/{{extRes.courseId}}/nid/{{extRes.contentId}}?tab=learningHub&hid={{extRes._id}}">
                                        {{extRes.title | cut:true:30:' ...'}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <br/>
                    <a class="btn btn-primary btn-sm pull-right" ng-href="/search"> Advanced Search</a>
                </div>
            </div>
        </form>

        <ul class="nav navbar-nav hidden-xs" ng-hide="user == null">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Favorites <span class="caret"></span></a>

                <ul class="dropdown-menu" role="menu" ng-controller="FavoritesController">

                    <li ng-show="favorites != null && favorites.length > 0" ng-repeat="fav in favorites">
                        <a href="/course/{{fav.course.slug}}/#/cid/{{fav.course._id}}?tab=preview">
                            {{fav.course.name | cut:true:30:' ...'}}
                        </a>
                    </li>

                    <li ng-show="favorites==null || favorites.length <= 0">
                        <a href="">
                            <span>
                                You do not have any favorite courses, yet!
                                <br/>
                                <br/>
                                You can favorite any course to which <br/>
                                you are enrolled and it will appear here.
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="navbar-right">
            <% if(locals.showSidebar && showSidebar){ %>
            <a class="top-menu-left visible-xs" data-toggle="offcanvas" role="button"><i class="ionicons ion-more"> </i>
            </a>
            <% } %>
            <ul class="nav navbar-nav hidden-xs">
                <li class="dropdown">
                    <a class="cursor dropdown-toggle" data-toggle="dropdown" aria-expanded="true" ng-cloak>
                        <i class="ion-information-circled"></i>&nbsp;&nbsp;&nbsp;
                        Info Links <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/about">
                                About CourseMapper
                            </a>
                        </li>
                        <li>
                            <a href="/privacy">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown info-links visible-xs">
                    <a class="cursor dropdown-toggle" data-toggle="dropdown" aria-expanded="true" ng-cloak>
                        <i class="ion-information-circled"></i>&nbsp;&nbsp;&nbsp;
                        Info Links <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/about">
                                About CourseMapper
                            </a>
                        </li>
                        <li>
                            <a href="/privacy">
                                Privacy Policy
                            </a>
                        </li>
                        <li ng-show="user">
                            <a href="/recommend-category">
                                Recommend Categories
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown tasks-menu" ng-cloak ng-hide="user">
                    <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown">
                        <b>Login</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="box-body no-border">
                                <% include formLogin %>
                            </div>
                        </li>
<!--                        <li>-->
<!--                            <form class="form-signin">-->
<!--                                <facebook-button></facebook-button>-->
<!--                            </form>-->
<!--                        </li>-->
                    </ul>
                </li>
                <li ng-cloak ng-hide="user">
                    <a href="/accounts/signup">
                        <b>Sign Up</b>
                    </a>
                </li>

                <li class="dropdown user user-menu notifications-menu" ng-show="user" ng-cloak>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/img/admin-lte/user2-160x160.png" class="user-image" alt="User Image"
                             ng-hide="user.image" ng-cloak/>
                        <img ng-src="{{user.image}}" class="user-image" alt="User Image" ng-show="user.image" ng-cloak/>
                        <i ng-hide="user" class="fa fa-refresh fa-spin"></i>
                        <span ng-show="user.username && !user.displayName" class="hidden-xs">{{user.username | capitalize:true}}</span>
                        <span ng-show="user.displayName" class="hidden-xs">{{user.displayName | capitalize:true}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="/accounts/{{user.username}}">
                                        <i class="ionicons ion-gear-a"></i> My Account
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="/accounts/logout"><i class="ionicons ion-log-out"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

</header>
<% } %>