<% include header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">My account</li>
            </ol>
            <h1>
                My Account
            </h1>
        </section>

        <!-- Main content -->
        <section class="content" ng-controller="widgetController">
            <div class="row" id="dashboard">
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-6 col-md-2">
                        <div class="box box-solid">
                            <div class="box-header with-border text-center">
                                <a href="" class="profile-picture" title="Change profile picture"><img 
                                        src="/img/default-profile-picture.png" class="img-circle"
                                        title="Change profile picture" alt="Change profile picture"></a>
                            </div>
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#" title="Change email or password settings"><i
                                            class="ionicons ion-ios-gear"></i> Account Settings</a></li>
                                    <li><a href="#" title="Turn on or off some features"><i
                                            class="ionicons ion-toggle"></i> Plugins</a></li>
                                    <li><a href="#" title="Add or remove dashboard widgets"><i
                                            class="ionicons ion-android-apps"></i> Widgets Store</a></li>
                                    <% if(user.roles == 'admin'){ %>
                                    <li><a href="/cm-admin/" title="admin"> Admin Panel</a></li>
                                    <% }%>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-2">
                        <div ng-include src="'/widgets/blankBox'" onload="initWidgetButton()"></div>
                        <button class="btn btn-block btn-default btn-flat col-md-12 widgetEmpty">
                            <i class="ionicons ion-ios-plus-outline"></i>
                        </button>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div ng-include src="'/widgets/chart'" onload="initWidgetButton()"></div>
                        <button class="btn btn-block btn-default btn-flat col-md-12 widgetEmpty">
                            <i class="ionicons ion-ios-plus-outline"></i>
                        </button>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div ng-include src="'/widgets/pie'" onload="initWidgetButton()"></div>
                        <button class="btn btn-block btn-default btn-flat col-md-12 widgetEmpty">
                            <i class="ionicons ion-ios-plus-outline"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->
<% include jsfooter %>
<% include footer %>