<% include header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">My account</li>
            </ol>
            <h1>
                My Account
            </h1>
        </section>

        <!-- Main content -->
        <section class="content" ng-controller="widgetController">
            <div class="row" id="dashboard">
                <!-- main user menu -->
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-6 col-md-2">
                        <div class="box box-solid">
                            <div class="box-header with-border text-center">
                                <a href="" class="profile-picture" title="Change profile picture"><img
                                        src="/img/default-profile-picture.png" class="img-circle"
                                        title="Change profile picture" alt="Change profile picture"></a>
                            </div>
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#" title="Change email or password settings"><i
                                            class="ionicons ion-ios-gear"></i> Account Settings</a></li>
                                    <li><a href="#" title="Turn on or off some features"><i
                                            class="ionicons ion-toggle"></i> Plugins</a></li>
                                    <li><a href="#/apps/gallery" title="Add or remove dashboard widgets" data-toggle="modal" data-target="#modalAppGallery"><i
                                            class="ionicons ion-android-apps"></i> Widgets Store</a></li>
                                    <% if(user.role == 'admin'){ %>
                                    <li><a href="/cm-admin/" title="admin"> Admin Panel</a></li>
                                    <% }%>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- main user menu end -->

                    <div class="grid-stack col-sm-6 col-md-10">
                        <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-no-resize="yes" data-gs-locked="yes">
                            <div class="grid-stack-item-content">
                                <div ng-include src="'/my-course/my-following-courses'" onload="initWidgetButton()"></div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-no-resize="yes" data-gs-locked="yes">
                            <div class="grid-stack-item-content">
                                <div ng-include src="'/my-course/my-activity-summary'" onload="initWidgetButton()"></div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-x="8" data-gs-y="0" data-gs-width="4" data-gs-no-resize="yes" data-gs-locked="yes">
                            <div class="grid-stack-item-content">
                                <div ng-include src="'/widgets/chart'" onload="initWidgetButton()"></div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="8" data-gs-no-resize="yes" data-gs-locked="yes">
                            <div class="grid-stack-item-content">
                                <div ng-include src="'/my-course/my-course-progress'" onload="initWidgetButton()"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="modal" id="modalAppGallery" tabindex="-1" role="dialog" aria-labelledby="modalAppGallery" aria-hidden="true">
                            <div ng-view></div>
                        </div>

                    </div>
                </div>


            </div>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->

<% include jsfooter %>

<script src="/jquery/jquery-ui.min.js"></script>
<script src="/gridstack/lodash.min.js"></script>
<script src="/gridstack/gridstack.js"></script>
<!--add sample analytics widgets js source-->
<script src="/chartjs/Chart.min.js"></script>
<script src="/chartjs/data.js"></script>
<script src="/chartjs/options.js"></script>

<script>
    $(function initiateDraggableGrid() {
        var options = {
            cell_height: 400,
            vertical_margin: 10,
            resizable: false,
            allowed_grids: [0, 4, 8]
        };

        var curNode = {x:0, y:0};
        var $gs = $('.grid-stack');
        $gs.gridstack(options);

        $gs.on('onStartMove', function (e, node) {
            curNode.x = node.x;
            curNode.y = node.y;
        });

        $gs.on('onFinishDrop', function (e, node) {
            var o = $(node.el);
            if(options.allowed_grids.indexOf(node.x) < 0){
                o.attr('data-gs-x', curNode.x).attr('data-gs-y', curNode.y);
            }
            console.log("onFinishDrop");
        });

        $gs.on('onMove', function (e, node) {
            console.log(node.x + " ++ " + node.y);
        });
    });

    app.config(['$routeProvider',
        function($routeProvider) {
            $routeProvider.
                    when('/apps/gallery', {
                        templateUrl: '/apps/gallery/user-profile',
                        controller: 'WidgetListController'
                    }).
                    otherwise({
                        redirectTo: '/'
                    });
        }]);



</script>

<% include footer %>