<% include header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">My account</li>
            </ol>
        </section>
        <section class="content-header action-header blue">
            <ol class="breadcrumb">
                <li class="home">My Account</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" ng-controller="widgetController" ng-init="location='user-profile'">
            <div class="row" id="dashboard">
                <!-- main user menu -->
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-6 col-md-2">
                        <div class="box box-solid">
                            <div class="box-header with-border text-center">
                                <a href="" class="profile-picture" title="Change profile picture"><img
                                        src="/img/default-profile-picture.png" class="img-circle"
                                        title="Change profile picture" alt="Change profile picture"></a>
                            </div>
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#" title="Change email or password settings"><i
                                            class="ionicons ion-ios-gear"></i> Account Settings</a></li>
                                    <li><a href="#" title="Turn on or off some features"><i
                                            class="ionicons ion-toggle"></i> Plugins</a></li>
                                    <li>
                                        <a style="cursor: pointer;"
                                           title="Add or remove dashboard widgets"
                                           data-toggle="modal" data-target="#widgetGallery"><i
                                            class="ionicons ion-android-apps"></i> Widgets Store</a></li>

                                    <% if(user.role == 'admin'){ %>
                                    <li><a href="/cm-admin/" title="admin"> Admin Panel</a></li>
                                    <li><a href="/slide-viewer" title="Slider Mockup Preview"> Slides</a></li>
                                    <% }%>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- main user menu end -->

                    <div class="grid-stack col-sm-6 col-md-10" id="user-profile-widgets"
                         ng-init="location='user-profile';
                                  initiateDraggableGrid('user-profile');">
                        <div class="grid-stack-item"
                             data-gs-no-resize="yes"
                             data-gs-locked="yes"
                             ng-repeat="wdg in widgets" id="w{{wdg.widgetId._id}}" >
                            <div class="grid-stack-item-content">
                                <div class="box no-shadow">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">{{wdg.widget}}</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="remove"
                                                    data-toggle="tooltip" title="Remove"
                                                    ng-click="closeWidget(wdg.widgetId._id);"
                                                    >
                                                <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">

                                <!-- start widget render -->
                                <div ng-include src="wdg.widgetId.entryPoint" onload="initWidgetButton(wdg.widgetId._id)"></div>
                                <!-- start widget render -->

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="row" ng-controller="WidgetGalleryController">
                            <div class="modal" id="widgetGallery" tabindex="-1" role="dialog"
                                 aria-labelledby="wigets gallery" aria-hidden="true" ng-init="initData('user-profile')">
                                <div ng-include="'/widgets/gallery'"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->

<% include jsfooter %>

<script src="/gridstack/gridstack.js"></script>
<!--add chart.js source-->
<script src="/chartjs/Chart.min.js"></script>

<% include footer %>
