<% include header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row row-centered">
                <div class="col-xs-12 col-md-6 col-centered">

                    <div class="box no-border">
                        <div class="box-body no-border">
                            <div id="legend">
                                <h2>Reset Password</h2>
                            </div>

                            <div ng-controller="ResetPasswordController">
                                <form name="resetForm" ng-submit="resetPassword(resetForm.$valid)" novalidate>
                                    <fieldset>
                                        <div class="control-group"
                                             ng-class="{ 'has-error' : resetForm.password.$invalid && !resetForm.$pristine }">
                                            <!-- Username -->
                                            <label class="control-label" for="password">New Password</label>

                                            <div class="controls">
                                                <input type="password" id="passwordOriginal" name="password"
                                                       placeholder=""
                                                       class="form-control" ng-model="loginData.password"
                                                       required ng-required="true">

                                                <p ng-show="resetForm.password.$invalid && !resetForm.$pristine"
                                                   class="help-block">Password is required.</p>

                                            </div>
                                        </div>

                                        <div class="control-group"
                                             ng-class="{ 'has-error' : resetForm.passwordConfirm.$invalid && !resetForm.$pristine }">
                                            <!-- Username -->
                                            <br>
                                            <label class="control-label" for="passwordConfirm">New Password
                                                (Confirm)</label>

                                            <div class="controls">
                                                <input type="password" id="passwordConfirm" name="passwordConfirm"
                                                       placeholder=""
                                                       pw-check="passwordOriginal"
                                                       class="form-control" ng-model="loginData.passwordConfirm">

                                                <p ng-show="resetForm.passwordConfirm.$invalid && !resetForm.$pristine"
                                                   class="help-block">Password Confirm must be the same.</p>

                                            </div>
                                        </div>

                                        <div class="control-group"><br>
                                            <error-block ng-show="errors.length > 0" messages="errors"></error-block>
                                        </div>
                                        <div class="control-group">
                                            <!-- Button -->
                                            <div class="controls">
                                                <br>
                                                <button class="btn btn-primary btn-block"
                                                        ng-click="resetForm.$pristine=false">Reset Password
                                                    <spinner show="isLoading"></spinner>
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->
<% include jsfooter %>
<% include footer %>



