<% include header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row row-centered">
                <div class="col-xs-12 col-md-5 col-centered">
                    <div class="box no-border">
                        <div class="box-body no-border">
                            <form action='/accounts/signUp' method="POST">
                                <fieldset>
                                    <div id="legend">
                                        <h1>User Register Form</h1>
                                    </div>
                                    <div class="control-group">
                                        <!-- Username -->
                                        <label class="control-label" for="username">Username</label>

                                        <div class="controls">
                                            <p class="help-block">Username can contain any letters or numbers, without
                                                spaces</p>
                                            <input type="text" id="username" name="username" placeholder=""
                                                   class="form-control">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <p></p>
                                        <!-- E-mail -->
                                        <label class="control-label" for="email">E-mail</label>

                                        <div class="controls">
                                            <p class="help-block">Please provide your E-mail</p>
                                            <input type="text" id="email" name="email" placeholder=""
                                                   class="form-control">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <p></p>
                                        <!-- Password-->
                                        <label class="control-label" for="password">Password</label>

                                        <div class="controls">
                                            <p class="help-block">Password should be at least 4 characters</p>
                                            <input type="password" id="password" name="password" placeholder=""
                                                   class="form-control">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <p></p>
                                        <!-- Password -->
                                        <label class="control-label" for="password_confirm">Password (Confirm)</label>

                                        <div class="controls">
                                            <p class="help-block">Please confirm password</p>
                                            <input type="password" id="password_confirm" name="password_confirm"
                                                   placeholder="" class="form-control">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <!-- Button -->
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <p class="help-block"></p>
                                            <br class="clear">
                                            <button class="btn btn-lg btn-primary btn-block">Register</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->
<% include jsfooter %>
<% include footer %>
