<% include header %>
<div class="wrapper" ng-controller="staticController">

    <!-- Header Navbar -->
    <% include mainMenu %>
    <div class="content-wrapper">
        <section class="content" ng-view>
        </section>
    </div>
</div><!-- ./wrapper -->
<% include jsfooter %>
<% include footer %>