<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2-->
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bower/Ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="/favicon.png" type="image/png"/>

    <!-- Themes -->
    <link href="/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bower/AdminLTE/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
    <link href="/css/posts.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/external-resources/html5shiv.js"></script>
    <script src="/external-resources/respond.min.js"></script>
    <![endif]-->

    <script src="/bower/angular/angular.min.js" type="text/javascript"></script>
    <script src="/bower/angular-route/angular-route.min.js"></script>
    <script src="/bower/angular-animate/angular-animate.min.js"></script>
    <script src="/bower/angular-resource/angular-resource.min.js"></script>
    <script src="/bower/angular-cookies/angular-cookies.min.js"></script>

</head>
<!--
skin-black
layout-top-nav | fixed | sidebar-collapse
-->
<body class="skin-blue sidebar-collapse">
<header class="main-header">
    <!-- Logo -->
    <a href="javascript:;" class="logo"><span style="margin-left: 25px;"><b>Course</b>Mapper</span></a>
    <nav class="navbar navbar-static-top" role="navigation">
    </nav>

</header>