<% include oHeader %>
<script>
    function transformRequest(obj) {
        var str = [];
        for (var p in obj)
            str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        return str.join("&");
    }

    var oLogin = angular.module('oLoginApp', [
        'ngResource', 'ngRoute', 'ngCookies']);

    oLogin.controller('OauthLoginController',
            function ($scope, $http) {
                $scope.errors = [];
                $scope.loginData = {};
                $scope.login = function (isValid) {
                    if (isValid) {
                        $scope.isLoading = true;
                        var self = this;

                        var d = transformRequest($scope.loginData);
                        $http({
                            method: 'POST',
                            url: '/api/accounts/login',
                            data: d,
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            }
                        })
                                .success(
                                        function success(data) {
                                            if (data.result) {
                                                window.location.reload();
                                            }
                                        })
                                .error(
                                        function (data) {
                                            self.isLoggedIn = false;
                                            $scope.errors = data.errors;
                                        });
                    }
                }
            });
</script>
<section class="content" ng-app="oLoginApp">
    <div class="row">
        <div class="col-xs-12">
            <div class="box no-border">
                <div class="box-header with-border">
                    <h3 class="box-title">Permission Request</h3>
                </div>

                <div class="box-body with-border" ng-controller="OauthLoginController">
                    <p>You are not logged in, please login using the form below.</p>
                    <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
                        <fieldset>
                            <div class="control-group"
                                 ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                                <!-- Username -->
                                <label class="control-label" for="username">Username</label>

                                <div class="controls">
                                    <input type="text" id="username" name="username" placeholder=""
                                           class="form-control" ng-model="loginData.username"
                                           required ng-required="true"
                                    >

                                    <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine"
                                       class="help-block">Username is
                                        required.</p>

                                </div>
                            </div>
                            <br>
                            <div class="control-group"
                                 ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                                <!-- Password-->
                                <label class="control-label" for="password">Password</label>

                                <div class="controls">
                                    <input type="password" id="password" name="password" placeholder=""
                                           class="form-control" ng-model="loginData.password"
                                           required ng-required="true">

                                    <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine"
                                       class="help-block">Password is
                                        required.</p>

                                </div>
                            </div>

                            <div class="control-group">
                                <div class="errors" ng-cloak ng-show="errors.length < 0">
                                    <div class="alert alert-danger" role="alert" ng-repeat="m in errors">{{m}}</div>
                                </div>
                            </div>
                            <br>
                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-primary btn-block">Login
                                        <spinner show="isLoading"></spinner>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="box-footer">
                </div>

            </div>
        </div>


    </div>
</section>
<% include oFooter %>