
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Course Statistics</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="refresh" data-toggle="tooltip" title="Refresh"><i class="fa fa-refresh"></i></button>
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body-widget">
        <ul>
            <li>
                <i class="ionicons ion-ios-people"></i> <b>  80</b> students enrolled
            </li>
            <li>
                <i class="ionicons ion-ios-circle-filled"></i> <b>  100</b> nodes created
            </li>
            <li>
                <i class="ionicons ion-play"></i> <b>  40:32</b> total hours of video play time
            </li>
            <li>
                <i class="ionicons ion-document"></i> <b>  521</b> total pages of PDF files
            </li>
            <li>
                <i class="ionicons ion-ios-pricetags"></i> <b>  128</b> bookmarks
            </li>
        </ul>
    </div>
    <div class="box-footer">

    </div>
</div>