<div class="box-body no-padding" ng-controller="UserListEnrolledController">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th style="width:10px;">Nr.</th>
            <th>{{HeaderTitle}}</th>
        </tr>
        <tr ng-repeat="user in userList">
            <td>{{$index+1}}.</td>
            <td>{{user.user.displayName}}</td>
        </tr>
        </tbody>
    </table>
</div>
