<div class="box-body no-padding"  ng-controller="BarHistoryAnalyticsController">

    <!--Using chartjs unfortunately does not work with tab-->
    <div class="nav-tabs-custom">
        <!--Tabs within a box-->
        <ul class="nav nav-tabs pull-right" ng-init="tab = 1">
            <li class="active"><a href ng-click="tab = 1" data-toggle="tab">Enrolled Users</a></li>
            <li><a href ng-click="tab = 2" data-toggle="tab">Discussions</a></li>
            <li><a href ng-click="tab = 3" data-toggle="tab">PDF Materials</a></li>
            <li><a href ng-click="tab = 4" data-toggle="tab">Video Materials</a></li>
        </ul>
        <br>

        <div class="enrolled-user-chart no-padding" ng-show="tab ===1">
            <canvas id="bar" width="500" height="135" class="chart chart-bar" chart-data="dataEnrolledUserMonthly"
                    chart-labels="labelEnrolledUserMonthly">
            </canvas>
            <div class="small-box-footer" style="text-align: center;">Monthly data of enrolled users in this course</div>
        </div>
        <div class="discussion-chart" ng-show="tab === 2">
            <canvas id="bar" width="500" height="135" class="chart chart-bar" chart-data="dataDiscussionMonthly"
                    chart-labels="labelDiscussionMonthly">
            </canvas>
            <div class="small-box-footer" style="text-align: center;">Monthly data of discussions topic created in this course</div>
        </div>
        <div class="pdf-chart" ng-show="tab === 3">
            <canvas id="bar" width="500" height="135" class="chart chart-bar" chart-data="dataPdfUploadMonthly"
                    chart-labels="labelPdfUploadMonthly">
            </canvas>
            <div class="small-box-footer" style="text-align: center;">Monthly data of uploaded PDF materials in this course</div>
        </div>
        <div class="video-chart" ng-show="tab === 4">
            <canvas id="bar" width="500" height="135" class="chart chart-bar" chart-data="dataVideoUploadMonthly"
                    chart-labels="labelVideoUploadMonthly">
            </canvas>
            <div class="small-box-footer" style="text-align: center;">Monthly data of uploaded video materials in this course</div>
        </div>

    </div><!-- /.nav-tabs-custom -->
</div>
