<div class="box-body no-padding"  ng-controller="BarHistoryAnalyticsController">

    <div class="nav-tabs-custom">
        <div class="row">
            <div class="col-xs-11">
                <highchart id="chart1" config="chartConfig"></highchart>
            </div>
        </div>
    </div><!-- /.nav-tabs-custom -->
</div>
