<div class="box-body no-padding" ng-controller="PreviewStatsController">

            <i class="ionicons ion-ios-people"></i> <b>{{totalUser}}</b> user enrolled

            <i class="ionicons ion-ios-circle-filled"></i> <b>  {{treeNodes.length}}</b> <span>{{treeNodes.length==1 ? 'subtopic': 'subtopics'}}</span>

            <i class="fa fa-file-video-o"></i> <b> <span>{{totalVideo}}</span> </b>  {{totalVideo <= 1 ? 'video': 'videos'}}

            <i class="fa fa-file-pdf-o"></i> <b>  {{totalPdf}}</b> PDF {{totalPdf <= 1 ? 'file': 'files'}}

            <i class="fa fa-comments"></i> <b>  {{totalDiscussion}}</b> <span>{{totalDiscussion <= 1 ? 'discussion': 'discussions'}}</span>

</div>