<link href="/course-analytics/user_profile.css" rel="stylesheet" type="text/css" />

<ul>
    <li>
        <img src="/course-analytics/img/jon_snow.png">
        <h5>Jon</h5>
        30 nodes created
    </li>
    <li>
        <img src="/course-analytics/img/arya.png">
        <h5>Arya</h5>
        <p>21 nodes created</p>
    </li>
    <li>
        <img src="/course-analytics/img/tyrion_lannister.png">
        <h5>Tyrion</h5>
        <p>17 nodes created</p>
    </li>
</ul>