<ul>
    <li>
        <i class="ionicons ion-ios-people"></i> <b>  80</b> students enrolled
    </li>
    <li>
        <i class="ionicons ion-ios-circle-filled"></i> <b>  100</b> nodes created
    </li>
    <li>
        <i class="ionicons ion-play"></i> <b>  40:32</b> total hours of video play time
    </li>
    <li>
        <i class="ionicons ion-document"></i> <b>  521</b> total pages of PDF files
    </li>
    <li>
        <i class="ionicons ion-ios-pricetags"></i> <b>  128</b> bookmarks
    </li>
</ul>