<div class="box-body">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="product-img">
                <img src="{{user.image}}" alt="Product Image">
            </div>
            <div class="product-info">
                <div class="product-title">Si Pitung
                    <span class="label label-warning pull-right">42 activities</span>
                </div>
                <span class="product-description">
                  <b>32</b> course material added
                </span>
                <span class="product-description">
                  <b>10</b> annotation created
                </span>
            </div>
        </li>
        <!-- /.item -->
        <li class="item">
            <div class="product-img">
                <img src="dist/img/default-50x50.gif" alt="Product Image">
            </div>
            <div class="product-info">
                <div class="product-title">Si Pitung
                    <span class="label label-warning pull-right">42 activities</span>
                </div>
                <span class="product-description">
                  <b>32</b> course material added
                </span>
                <span class="product-description">
                  <b>10</b> annotation created
                </span>
            </div>
        </li>
        <!-- /.item --><li class="item">
            <div class="product-img">
                <img src="dist/img/default-50x50.gif" alt="Product Image">
            </div>
            <div class="product-info">
                <div class="product-title">Si Pitung
                    <span class="label label-warning pull-right">42 activities</span>
                </div>
                <span class="product-description">
                  <b>32</b> course material added
                </span>
                <span class="product-description">
                  <b>10</b> annotation created
                </span>
            </div>
        </li>
        <!-- /.item --><li class="item">
            <div class="product-img">
                <img src="dist/img/default-50x50.gif" alt="Product Image">
            </div>
            <div class="product-info">
                <div class="product-title">Si Pitung
                    <span class="label label-warning pull-right">42 activities</span>
                </div>
                <span class="product-description">
                  <b>32</b> course material added
                </span>
                <span class="product-description">
                  <b>10</b> annotation created
                </span>
            </div>
        </li>
        <!-- /.item --><li class="item">
            <div class="product-img">
                <img src="dist/img/default-50x50.gif" alt="Product Image">
            </div>
            <div class="product-info">
                <div class="product-title">Si Pitung
                    <span class="label label-warning pull-right">42 activities</span>
                </div>
                <span class="product-description">
                  <b>32</b> course material added
                </span>
                <span class="product-description">
                  <b>10</b> annotation created
                </span>
            </div>
        </li>
        <!-- /.item -->
    </ul>
</div>