<div class="box-body" ng-controller="TopContributorController">
    <ul class="products-list product-list-in-box">
        <li class="item" ng-repeat="user in topContributor">
            <div class="product-img">
                <img src="{{user.userId.image}}" alt="Product Image" style="border-radius: 50%">
            </div>
            <div class="product-info">
                <div class="product-title">{{user.userId.displayName | capitalize}}
                    <span class="label label-warning pull-right">{{user.totalCount}} activities</span>
                </div>
                <span class="product-description" title="course activity such as add material and discussion">
                  <b>{{user.countCourseActivity}}</b> Course Activities
                </span>
                <span class="product-description" title="node activity such as material annotation and add link">
                  <b>{{user.countNodeActivity}}</b> Node Activities
                </span>
            </div>
        </li>
        <!-- /.item -->

    </ul>
</div>