
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Top contributors</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="refresh" data-toggle="tooltip" title="Refresh"><i class="fa fa-refresh"></i></button>
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body-widget">
        <ul>
            <li>
                <img src="/course-analytics/img/jon_snow.png">
                <h5>Jon Snow</h5>
                30 nodes created
            </li>
            <li>
                <img src="/course-analytics/img/arya.png">
                <h5>Arya Stark</h5>
                <p>21 nodes created</p>
            </li>
            <li>
                <img src="/course-analytics/img/tyrion_lannister.png">
                <h5>Tyrion Lannister</h5>
                <p>17 nodes created</p>
            </li>
        </ul>
    </div>
    <div class="box-footer">

    </div>
</div>